@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/header.scss'; // 全局头部
@import '../../sass/calendar.scss'; // 日历插件
@import '../../sass/toast.scss'; // toast的样式
@import '../../sass/loading.scss'; // 加载中
body {
    position: relative;
    padding: .88rem 0 1rem;
    background-color: #f5f5f5;
}

.hidden {
    display: none !important;
}

/* address-body */

.address-body {
    @include flex-box;
    @include justify-content;
    padding: .24rem .35rem .65rem;
    background-color: #fff;
    height: 1.84rem;
    box-sizing: border-box;
}

.item-oneline,
.item-twoline {
    @include flex-box;
    @include flex-direction;
    @include align-items;
}

.address-body .mainpic {
    width: 1.8rem;
    height: 1.35rem;
    border-radius: .04rem;
    margin-right: 0.28rem;
}

.address-body .content-info {
    @include flex;
}

.address-body .item-oneline {
    @include justify-content(space-between);
    padding-top: 0.2rem;
}

.address-body .item-oneline p {
    display: block;
    font-size: .32rem;
}

.address-body .item-oneline p:first-child {
    font-size: .28rem;
    color: rgba(42, 43, 45, 1);
}

.address-body .item-oneline p:last-child {
    color: rgba(255, 92, 92, 1);
}

.address-body .item-twoline {
    @include justify-content(flex-start);
    padding-top: .2rem;
}

.address-body .twoline-items {
    font-size: .24rem;
    padding: 0 .2rem;
    color: rgba(181, 185, 190, 1);
    line-height: 1;
    border-right: $border;
}

.address-body .twoline-items:last-child {
    border: none;
}

.address-body .item-twoline .twoline-items:first-child {
    padding-left: 0;
}

/* color-border */

.color-border {
    width: 100%;
    height: 0.05rem;
    background: url('img/color-border.png') no-repeat;
    background-color: #fff;
}

/* userInfo-body */

.userInfo-body,
.userInfo-body .item {
    @include flex;
    @include flex-box;
    @include flex-direction(column);
    background-color: #fff;
}

.userInfo-body .item {
    margin: 0 .35rem;
}

.userInfo-body .item:nth-child(2n+1) {
    @include flex-box; // @include align-items;
    @include justify-content;
    height: 0.64rem;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0 .35rem;
    font-size: .24rem;
    color: rgba(181, 185, 190, 1);
}

.userInfo-body .item:nth-child(2) {
    margin: 0;
    padding: 0 .35rem;
}

.input-layout {
    @include flex-box;
    @include align-items;
    @include justify-content(space-between);
}

.userInfo-body .item:nth-child(2) .input-layout:nth-child(1) {
    padding-top: .36rem
}

.userInfo-body .item:nth-child(2) .input-layout:nth-child(2) {
    padding: .26rem 0 .48rem;
}

.userInfo-body .item:nth-child(4) .input-layout:nth-child(1),
.userInfo-body .item:nth-child(4) .input-layout:nth-child(2),
.userInfo-body .item:nth-child(4) .input-layout:nth-child(3),
.userInfo-body .item:nth-child(4) .input-layout:nth-child(4) {
    padding: .36rem 0;
}

.userInfo-body .item:nth-child(4) .input-layout:nth-child(1) {
    border-bottom: $border;
}

.userInfo-body .item:nth-child(6) .input-layout:nth-child(1) {
    padding: .36rem 0 .28rem;
    border-bottom: $border;
}

.userInfo-body .item:nth-child(6) .input-layout:nth-child(2) {
    padding: .34rem 0;
}

.text-style-1 {
    @include flex-box;
    font-size: .26rem;
    color: rgba(43, 47, 51, 1);
}

.text-style-2 {
    font-size: .26rem;
    color: rgba(94, 100, 107, 1);
}

.text-style-3 {
    @include flex;
    font-size: .26rem; // color: rgba(196, 201, 205, 1);
    color: rgba(94, 100, 107, 1);
    text-align: right;
}

.text-style-4 {
    font-size: .26rem;
    color: rgba(255, 92, 92, 1);
}

.cale-styel {
    width: 2.26rem;
    height: .78rem;
    color: $color;
    border: .01rem solid $color;
    background: rgba(247, 250, 248, 1);
    border-radius: .04rem;
    text-align: center;
    font-size: .36rem;
}

.userInfo-body .item:nth-child(4) .input-layout:nth-child(1) .text-style-2 {
    position: relative;
    padding-right: .52rem;
}

.userInfo-body .item:nth-child(4) .input-layout:nth-child(1) .text-style-2::before {
    @include position(absolute,
    auto,
    auto,
    0,
    auto,
    10);
    display: block;
    content: '';
    width: .28rem;
    height: .28rem;
}

.userInfo-body .input-layout .cale {
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: 0.4rem;
    height: 0.4rem;
    font-size: .33rem;
    color: $color;
}

.userInfo-body .input-layout .reduce,
.userInfo-body .input-layout .add {
    width: 0.35rem;
    height: 0.35rem;
    font-size: .32rem;
    color: $color;
}

.userInfo-body .input-layout .reduce {
    color: #c4c9cd;
}

.userInfo-body .input-layout .peo-num {
    margin: 0 .1rem;
}

/* rule-body */

.rule-body {
    @include flex-box;
    @include flex-direction(column);
    background-color: #fff;
}

.rule-body .title {
    display: block;
    padding: 0 .35rem;
    line-height: .64rem;
    background-color: #f5f5f5;
    font-size: .24rem;
    color: #b5b9be
}

#cancelRules {
    padding-top: 0.3rem;
}

.rule-body .tit {
    padding: .48rem .35rem 0;
    font-size: .24rem;
    color: #5e646b;
    ;
}

.rule-body .part {
    padding: 0 .47rem 0 .35rem;
    font-size: .22rem;
    color: rgba(94, 100, 107, 1);
    line-height: .3rem;
    padding-top: .3rem;
    word-wrap: break-word;
    word-break: break-all;
}

.rule-body .part:last-child {
    padding-top: .2rem;
    padding-bottom: .7rem;
}

.rule-body .slide-body {
    overflow: hidden;
}

.rule-body .slide {
    @include flex-box;
}

.slide-body {
    overflow: hidden;
}

.slide-body .slide {
    @include flex-box;
}

.rule-body .slide-body .slide-content {
    @include flex-box;
    @include flex-direction(column);
    @include flex(0,
    0,
    auto);
    align-items: left;
    padding-left: .35rem;
    height: 3rem;
    font-size: $font-large;
    color: #fff;
    line-height: 1.2;
    box-sizing: border-box;
}

.rule-body .slide-content .box1,
.rule-body .slide-content .box2,
.rule-body .slide-content .box3 {
    @include flex-box;
    @include align-items;
}

.rule-body .slide-content .box1 {
    margin-top: .5rem;
}

.rule-body .slide-content .box1 .items {
    @include flex-box;
    @include align-items;
    flex: 1;
    height: .88rem;
    padding: 0 .2rem;
    border-radius: .1rem;
    margin: 0 0 0 0.5rem;
    width: 2rem;
    border: .01rem solid rgba(255, 92, 92, 1);
    font-size: .24rem;
    color: rgba(255, 92, 92, 1);
}

.rule-body .slide-content .box1 .items:first-child {
    color: #fff;
    @include linear-gradient;
    border-color: $color;
}

.rule-body .slide-content .box2 {
    @include flex-box;
    @include align-items;
    @include justify-content(flex-start);
    width: 100%;
    margin-top: .35rem;
}

.rule-body .slide-content .box2 .circle {
    height: 0.46rem;
    width: 0.46rem;
    font-size: 0.46rem;
    border-radius: 0.23rem;
    color: rgba(255, 92, 92, 1);
}

.rule-body .slide-content .box2 .circle:first-child {
    color: $color;
}

.rule-body .slide-content .box2 .split-line {
    width: 2.28rem;
    border-bottom: .08rem dotted red;
    margin: 0 .1rem;
}

.rule-body .slide-content .box2 .current {
    border-color: $color;
}

.rule-body .slide-content .box3 {
    @include flex-box;
    @include align-items(flex-start);
    @include justify-content(flex-start);
    margin-left: -1.2rem;
    width: 11.8rem;
    background-color: #fff;
    margin-top: .22rem;
    margin-left: -1.25rem;
}

.rule-body .slide-content .box3 .items {
    @include flex-box;
    @include align-items;
    @include flex-direction(column);
    flex: 1;
}

.rule-body .slide-content .box3 .items:last-child {
    padding: 0;
}

.rule-body .slide-content .box3 .txt {
    font-size: .24rem;
    color: rgba(43, 47, 51, 1);
}

.rule-body .slide-content .box3 .time {
    padding-top: .1rem;
    font-size: .2rem;
    color: rgba(181, 185, 190, 1);
}

/* start 消息框的样式 */

.dialog {
    @include flex-box;
    @include flex-direction;
}

.dialog-border-bottom {
    height: .86rem;
    position: relative;
    width: 2.75rem;
    border-radius: .04rem;
}

.dialog-border-bottom:before {
    border-color: #888 transparent transparent;
    border-style: solid solid solid;
    border-width: .4rem .4rem .4rem .4rem;
    bottom: -.8rem;
    content: '';
    height: 0px;
    left: .4rem;
    position: absolute;
    width: 0px;
}

.dialog-border-bottom:after {
    border-color: #fff transparent transparent;
    border-style: solid solid solid solid;
    border-width: .4rem;
    bottom: -.66rem;
    content: '';
    height: 0px;
    left: .4rem;
    position: absolute;
    width: 0px;
}

/* end 对话框的样式 */

/*footer check-body */

.check-body {
    @include position(fixed,
    auto,
    0,
    0,
    0,
    500);
    @include flex-box; 
    height: 1rem;
    background-color: #fff;
    box-shadow: 0 -.1rem .1rem rgba(200, 200, 200, .2);
}

.check-body .items {
    @include flex-box;
    @include align-items;
}

.check-body .items:first-child {
    @include flex;
}

.check-body .items:first-child p:first-child {
    margin-left: .38rem;
    font-size: .28rem;
    color: rgba(42, 43, 45, 1);
}

.check-body .items:first-child p:last-child {
    margin-left: .33rem;
    font-size: .4rem;
    color: rgba(255, 92, 92, 1);
    font-weight: 700;
}

.check-body .items:last-child {
    @include justify-content;
    width: 3.2rem;
    @include linear-gradient;
    color: #fff;
    font-size: .36rem;
}

.cale-styel:-moz-placeholder {
    color: $color;
}

.cale-styel::-webkit-input-placeholder {
    color: $color;
}

.cale-styel::-moz-placeholder {
    color: $color;
}

.cale-styel:-ms-input-placeholder {
    color: $color;
}