@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/header.scss'; // 全局头部
body {
    position: relative;
    padding: .44rem 0 .5rem;
    background-color: #f5f5f5;
}


/* address-body */

.address-body {
    padding: .2rem .175rem .3rem;
    background-color: #fff;
    border-bottom: .025rem dashed #5AA572;
}

.item-oneline,
.item-twoline {
    @include flex-box;
    @include flex-direction;
    @include align-items;
}

.address-body .item-oneline {
    @include justify-content(space-between);
}

.address-body .item-oneline p {
    display: block;
    font-size: .16rem;
}

.address-body .item-oneline p:first-child {
    color: rgba(90, 165, 114, 1);
}

.address-body .item-oneline p:last-child {
    color: rgba(255, 92, 92, 1);
}

.address-body .item-twoline {
    @include justify-content(flex-start);
    padding-top: .13rem;
}

.address-body .twoline-items {
    font-size: .12rem;
    padding: 0 .1rem;
    color: rgba(181, 185, 190, 1);
    line-height: 1;
    border-right: $border;
}

.address-body .twoline-items:last-child {
    border: none;
}

.address-body .item-twoline .twoline-items:first-child {
    padding-left: .15rem;
}

.address-body .item-twoline .twoline-items:first-child:before {
    @include position(absolute, auto, auto, auto, .175rem, 10);
    display: block;
    content: '';
    height: .115rem;
    width: .085rem;
    background-color: skyblue;
}


/* userInfo-body */

.userInfo-body,
.userInfo-body .item {
    @include flex;
    @include flex-box;
    @include flex-direction(column);
    background-color: #fff;
}

.userInfo-body .item {
    margin: 0 .175rem;
}

.userInfo-body .item:nth-child(2n+1) {
    @include flex-box; // @include align-items;
    @include justify-content;
    height: 0.32rem;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0 .175rem;
    font-size: .12rem;
    color: rgba(181, 185, 190, 1);
}

.userInfo-body .item:nth-child(2) {
    margin: 0;
    padding: 0 .175rem;
}

.input-layout {
    @include flex-box;
    @include align-items;
    @include justify-content(space-between);
}

.userInfo-body .item:nth-child(2) .input-layout:nth-child(1) {
    padding-top: .18rem
}

.userInfo-body .item:nth-child(2) .input-layout:nth-child(2) {
    padding: .13rem 0 .24rem;
}

.userInfo-body .item:nth-child(4) .input-layout:nth-child(1),
.userInfo-body .item:nth-child(4) .input-layout:nth-child(2),
.userInfo-body .item:nth-child(4) .input-layout:nth-child(3),
.userInfo-body .item:nth-child(4) .input-layout:nth-child(4) {
    padding: .18rem 0;
}

.userInfo-body .item:nth-child(4) .input-layout:nth-child(1) {
    border-bottom: $border;
}

.userInfo-body .item:nth-child(6) .input-layout:nth-child(1) {
    padding: .185rem 0 .14rem;
    border-bottom: $border;
}

.userInfo-body .item:nth-child(6) .input-layout:nth-child(2) {
    padding: .17rem 0;
}

.text-style-1 {
    @include flex-box;
    font-size: .13rem;
    color: rgba(43, 47, 51, 1);
}

.text-style-2 {
    font-size: .13rem;
    color: rgba(94, 100, 107, 1);
}

.text-style-3 {
    font-size: .13rem;
    color: rgba(196, 201, 205, 1);
}

.text-style-4 {
    font-size: .13rem;
    color: rgba(255, 92, 92, 1);
}

.cale-styel {
    width: 1.13rem;
    height: .39rem;
    color: rgba(90, 165, 114, 1);
    border: .005rem solid rgba(90, 165, 114, 1);
    background: rgba(247, 250, 248, 1);
    border-radius: .02rem;
    text-align: center;
    font-size: .18rem;
}

.userInfo-body .item:nth-child(4) .input-layout:nth-child(1) .text-style-2 {
    position: relative;
    padding-right: .26rem;
}

.userInfo-body .item:nth-child(4) .input-layout:nth-child(1) .text-style-2::before {
    @include position(absolute, auto, auto, 0, auto, 10);
    display: block;
    content: '';
    width: .14rem;
    height: .14rem;
}


/* rule-body */

.rule-body {
    @include flex-box;
    @include flex-direction(column);
    padding: 0 .175rem;
    background-color: #fff;
}

.rule-body .tit {
    padding-top: .24rem;
    font-size: .12rem;
    color: rgba(181, 185, 190, 1);
}

.rule-body .part {
    padding-right: .06rem;
    font-size: .11rem;
    color: rgba(94, 100, 107, 1);
    line-height: .15rem;
    padding-top: .15rem;
}

.rule-body .part:last-child {
    padding-top: .1rem;
    padding-bottom: .35rem;
}

/* start 消息框的样式 */
.dialog {
    @include flex-box;
    @include flex-direction;
}

.dialog-border-bottom {
    height: .43rem;
    position: relative;
    width: 1.375rem;
    border-radius: .02rem;
}

.dialog-border-bottom:before {
    border-color: #888 transparent transparent;
    border-style: solid solid solid;
    border-width: 20px 20px 20px 20px;
    bottom: -40px;
    content: '';
    height: 0px;
    left: 20px;
    position: absolute;
    width: 0px;
    // background-color: black;
    
}

.dialog-border-bottom:after {
    border-color: #fff transparent transparent;
    border-style: solid solid solid solid;
    border-width: 20px;
    bottom: -33px;
    content: '';
    height: 0px;
    left: 20px;
    position: absolute;
    width: 0px;
    // background-color: skyblue;
}

/* end 对话框的样式 */


/* footer-body */

.footer-body {
    @include position(fixed, auto, 0, 0, 0, 500);
    @include flex-box; // @include flex-direction;
    height: .5rem;
    background-color: #fff; // box-shadow: 0 -5px 5px rgba(200, 200, 200, .2);
}

.footer-body .items {
    @include flex-box;
    @include align-items;
}

.footer-body .items:first-child {
    @include flex;
}

.footer-body .items:first-child p:first-child {
    margin-left: .19rem;
    font-size: .14rem;
    color: rgba(42, 43, 45, 1);
}

.footer-body .items:first-child p:last-child {
    margin-left: .165rem;
    font-size: .2rem;
    color: rgba(255, 92, 92, 1);
}

.footer-body .items:last-child {
    @include justify-content;
    width: 1.6rem;
    background-color: rgba(90, 165, 114, 1);
    color: #fff;
    font-size: .18rem;
}
