/* app-download */

.app-download {
    @include position(fixed, auto, 0, 0, 0, 1000);
    @include flex-box;
    @include align-items;
    @include justify-content(space-between);
    height: .86rem;
    padding-right: .35rem;
    ;
    padding-left: .35rem;
    ;
    background-color: #f3ffff;
    box-sizing: border-box;
    box-shadow: 0 -5px 10px rgba(100, 100, 100, .2);
}

.app-download-box {
    @include flex-box;
    @include align-items;
}

.app-download .logo {
    display: block;
    width: 1.6rem;
    height: .56rem;
    margin-right: .14rem;
    margin-left: .18rem;
    overflow: hidden;
}

.app-download .logo img {}

.app-download .txt-box {
    color: #5aa572;
}

.app-download .tit {
    font-size: .24rem;
    line-height: 1.2;
}

.app-download .desc {
    margin-top: .05rem;
    font-size: .2rem;
    line-height: 1.2;
}

.app-download .download {
    display: block;
    padding: .16rem .32rem;
    font-size: $font-small;
    color: #fff; // line-height: 1.2;
    border-radius: .4rem;
    background-color: #5aa572;
    box-shadow: 0 0 8px rgba(100, 100, 100, .3);
}

.app-download .close {
    position: relative;
    width: .24rem;
    height: .24rem;
    overflow: hidden;
    font-size: .16rem;
    color: #5aa572;
}

// .app-download .close:before,
// .app-download .close:after {
//     @include position(absolute, .18rem, auto, auto, .04rem, 10);
//     display: block;
//     content: '';
//     width: .28rem;
//     height: .04rem;
//     border-radius: .04rem;
//     background-color: #999;
//     z-index: 1000;
// }
// .app-download .close:before {
//     @include transform(rotateZ(45deg));
// }
// .app-download .close:after {
//     @include transform(rotateZ(-45deg));
// }
