/* 焦点图 */

.banner-body {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.banner-body .banner {
    @include flex-box;
}

.banner-body .items {
    display: block;
    width: 100%;
    @include flex(0, 0, auto);
    overflow: hidden;
}

.banner-body .pagination {
    @include position(absolute, auto, .35rem, .2rem, auto, 10);
    @include flex-box;
    @include align-items;
    @include justify-content;
    padding: .05rem .1rem;
    height: .28rem;
    background: rgba(43, 47, 51, 0.3);
    border-radius: .28rem;
}

.banner-body .pagination .icon,
.banner-body .pagination span {
    display: block;
    margin-right: .04rem;
    font-size: .2rem;
    color: #fff;
    line-height: 1.2;
}

.banner-body .pagination .icon:before {
    display: block;
    width: .28rem;
    height: .28rem;
    overflow: hidden;
}

.banner-body .back {
    @include position(absolute, 0, auto, auto, 0, 10);
    @include flex-box;
    @include justify-content(center);
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .42rem;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.banner-body .collect,
.banner-body .icon-collect {
    @include position(absolute, 0, 0, auto, auto, 10);
    @include flex-box;
    @include justify-content(center);
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .42rem;
    color: #333;
    background-color: rgba(0, 0, 0, 0);
    border-radius: .1rem;
}

.banner-body .collect {
    padding-top: 0.1rem;
    padding-right: 0.2rem;
}

.banner-body .icon-collect {
    color: $color-orange;
}

// .banner-body .icon-collect:before,
// .banner-body .icon-collected:before {
//     display: block;
//     width: .56rem;
//     height: .56rem;
//     overflow: hidden;
// }
// .banner-body .sold-out {
//     @include position(absolute, auto, 0, 0, 0, 100);
//     padding: .2rem;
//     font-size: $font-large;
//     color: #fff;
//     text-align: center;
//     background: rgba(0, 0, 0, .7);
// }
