$font-family: 'PingFang SC',
'Noto Sans CJK SC',
'Microsoft YaHei',
arial,
helvetica,
tahoma,
verdana,
sans-serif;
$font-extra-small: .2rem;
$font-small: .24rem;
$font-middle: .28rem;
$font-large: .32rem;
$font-extra-large: .36rem;
$color: rgba(90, 165, 114, 1);
$color-dark-grey: #333;
$color-grey: #666;
$color-light-grey: #999;
$color-orange: #ff8a00;
$color-body-bg: #f5f5f5;
$spacing-small: .2rem;
$spacing-middle: .30rem;
$spacing-large: .4rem;
$border: .01rem solid #E3E6E9;
@mixin flex-box {
    display: -webkit-flex;
    display: flex;
}

@mixin flex($flex: 1) {
    -webkit-flex: $flex;
    flex: $flex;
}

@mixin flex($flex-grow: 1, $flex-shrink: 1, $flex-basis: auto) {
    -webkit-flex: $flex-grow $flex-shrink $flex-basis;
    flex: $flex-grow $flex-shrink $flex-basis;
}

@mixin flex-direction($flex-direction: row) {
    -webkit-flex-direction: $flex-direction;
    flex-direction: $flex-direction;
}

@mixin flex-wrap($flex-wrap: nowrap) {
    -webkit-flex-wrap: $flex-wrap;
    flex-wrap: $flex-wrap;
}

@mixin align-content($align-content: center) {
    -webkit-align-content: $align-content;
    align-content: $align-content;
}

@mixin align-items($align-items: center) {
    -webkit-align-items: $align-items;
    align-items: $align-items;
}

@mixin align-self($align-self: center) {
    -webkit-align-self: $align-self;
    align-self: $align-self;
}

@mixin justify-content($justify-content: center) {
    -webkit-justify-content: $justify-content;
    justify-content: $justify-content;
}

@mixin line-clamp($line-clamp: 2) {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: $line-clamp;
    -moz-line-clamp: $line-clamp;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    transition: $transition;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    animation: $animation;
}

@mixin ellips {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin position($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto, $z-index: 1000) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
}

@mixin linear-gradient {
    background: #3dbe83;
    background: -moz-linear-gradient(left, #3dbe83 0%, #5cb177 100%);
    background: -webkit-linear-gradient(left, #3dbe83 0%, #5cb177 100%);
    background: linear-gradient(to right, #3dbe83 0%, #5cb177 100%);
}


/* html的fontsize */

html {
    font-size: 100px;
    height: 100%;
}

@media screen and(min-width: 320px)and(max-width: 359px) {
    html {
        font-size: 42.667px !important;
    }
}

@media screen and(min-width: 360px)and(max-width: 374px) {
    html {
        font-size: 48px !important;
    }
}

@media screen and(min-width: 375px)and(max-width: 385px) {
    html {
        font-size: 50px !important;
    }
}

@media screen and(min-width: 386px)and(max-width: 392px) {
    html {
        font-size: 51.467 !important;
    }
}

@media screen and(min-width: 393px)and(max-width: 400px) {
    html {
        font-size: 52.4px !important;
    }
}

@media screen and(min-width: 401px)and(max-width: 414px) {
    html {
        font-size: 53.467px !important;
    }
}

@media screen and(min-width: 750px)and(max-width: 799px) {
    html {
        font-size: 100px !important;
    }
}


/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

article,
aside,
body,
div,
dl,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
input,
nav,
ol,
p,
section,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    font-size: .32rem;
}

article,
aside,
div,
figcaption,
figure,
footer,
header,
hgroup,
img,
nav,
ol,
section,
ul {
    display: block;
    width: auto;
    height: auto;
}

html {
    font-family: $font-family;
}

body {
    // font-size: 100%;
    background-color: $color-body-bg;
    -webkit-text-size-adjust: none;
    /* 解决IOS横、竖屏切换时字体变大的BUG */
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    /* 去掉a标签点击时的黑色区域  */
}

dl,
ol,
ul {
    list-style-type: none;
}

img {
    width: 100%;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
    font-size: 100%;
    font-weight: normal;
}

em,
i {
    font-style: normal;
}

input,
textarea {
    border: none;
    line-height: 1.2;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: rgba(181, 185, 190, 1);
    line-height: 1.2;
}

table {
    width: 100%; // border-collapse: collapse;
    // border-spacing: 0;
}

.ellips {
    @include ellips;
}

.overlay {
    @include position(fixed, 0, 0, 0, 0, 1000);
    display: none;
    background-color: rgba(0, 0, 0, .4);
}

.bg-white {
    background-color: #fff !important;
}

.bg-base {
    @include linear-gradient;
}

.c-white {
    color: #fff !important;
}

.c-base {
    color: $color !important;
}

.bd-c-white {
    color: #fff !important;
}

.bd-c-base {
    color: $color !important;
}

.star-lines {
    position: relative;
    width: 1.7rem;
    height: .34rem;
    margin-right: .2rem;
    background-color: #ccc;
}

.star-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.7rem;
    height: .34rem;
    background-image: url(../../assets/img/star.png);
    background-size: .34rem .34rem;
}

.star-bar-score {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: .34rem;
    background-color: rgb(250, 92, 92);
}

.score {
    font-size: .24rem;
    color: rgb(255, 92, 92);
}

.unusual-body {
    @include flex-box;
    @include flex-direction(column);
    @include align-items;
    @include justify-content;
    padding-top: 1.45rem;
}

.unusual-body .no-house {
    width: 3.93rem;
    height: 1.92rem;
    background: url('../../assets/img/no-house-info.png') no-repeat;
    background-size: 100%;
}

.unusual-body .no-network {
    width: 4.32rem;
    height: 2.73rem;
    background: url('../../assets/img/check-network.png') no-repeat;
    background-size: 100%;
}

.unusual-body span {
    padding-top: 0.2rem;
    font-size: .28rem;
    color: rgba(90, 165, 114, 1);
}
