/* 全局底部 */

.footer-body {
    @include flex-box;
    @include flex-direction(column);
    @include align-items;
    @include position(relative, auto, auto, 0, auto, 10);
    background-color: #fff;
    height: 2.98rem;
    box-sizing: border-box;
}


/* site-map */

.site-map {
    @include flex-box;
    @include flex-direction;
    width: 100%;
    padding-top: .18rem;
    padding-bottom: .19rem;
    border-bottom: $border;
}

.site-map-box {
    @include flex;
    @include flex-box;
    @include align-items;
    @include justify-content;
}

.site-map-icon {
    width: .6rem;
    height: .5rem;
    font-size: .48rem;
}

.site-map-mbox {
    margin-left: .09rem;
}

.site-map-box .site-map-title {
    font-size: .22rem;
    color: #2a2b2d;
}

.site-map-box .site-map-content {
    font-size: .2rem;
    color: #b5b9be;
}


/* site-nav */

.site-nav {
    @include flex-box;
    @include justify-content;
    width: 100%;
    padding: .35rem 0 .25rem;
}

.site-nav .items {
    display: block;
    padding: 0 .6rem;
    font-size: .24rem;
    color: #787f86;
    text-align: center;
    border-right: .01rem solid #E3E6E9;
}

.site-nav .items:last-child {
    border: none;
}

.copyright {
    font-size: .18rem;
    color: #b5b9be;
    line-height: 2;
}

.page-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}
