/* 全局底部 */

.footer-body {
    @include flex-box;
    @include flex-direction(column);
    @include align-items;
    @include position(relative, auto, auto, 0, auto, 10);
    background-color: #fff;
}


/* site-map */

.site-map {
    @include flex-box;
    @include flex-direction;
    width: 100%;
    padding-top: .18rem;
    padding-bottom: .19rem;
    border-bottom: $border;
}

.site-map-box {
    @include flex;
    @include flex-box;
    @include justify-content;
}

.site-map-icon {
    width: .3rem;
    height: .25rem;
    background-color: skyblue;
}

.site-map-mbox {
    margin-left: .09rem;
}

.site-map-box .site-map-title {
    font-size: .22rem;
    color: #2a2b2d;
}

.site-map-box .site-map-content {
    font-size: .2rem;
    color: #b5b9be;
}


/* site-nav */

.site-nav {
    @include flex-box;
    @include justify-content;
    width: 100%;
    padding: .4rem 0 .36rem;
}

.site-nav .items {
    display: block;
    padding: 0 .45rem;
    font-size: .24rem;
    color: #787f86;
    text-align: center;
    border-right: .01rem dashed #E3E6E9;
}

.site-nav .items:last-child {
    border: none;
}

.copyright {
    font-size: .18rem;
    color: #b5b9be;
    margin-bottom: .28rem;
}
