// @font-face {
//     font-family: "iconfont";
//     src: url('../../assets/vendors/iconfont/iconfont.eot?t=1492670875252');
//     /* IE9*/
//     src: url('../../assets/vendors/iconfont/iconfont.eot?t=1492670875252#iefix') format('embedded-opentype'), /* IE6-IE8 */
//     url('../../assets/vendors/iconfont/iconfont.woff?t=1492670875252') format('woff'), /* chrome, firefox */
//     url('../../assets/vendors/iconfont/iconfont.ttf?t=1492670875252') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
//     url('../../assets/vendors/iconfont/iconfont.svg?t=1492670875252#iconfont') format('svg');
//     /* iOS 4.1- */
// }

// .iconfont {
//     font-family: "iconfont" !important;
//     font-size: .32rem;
//     font-style: normal;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

.icon-desc:before {
    content: "\e629";
}

.icon-feiji:before {
    content: "\e61b";
}

.icon-shoucang:before {
    content: "\e675";
}

.icon-shoucang1:before {
    content: "\e607";
}

.icon-wenhao:before {
    content: "\e66d";
}

.icon-xinxi:before {
    content: "\e76d";
}

.icon-asc:before {
    content: "\e649";
}

.icon-info:before {
    content: "\e65e";
}

.icon-bingxiang:before {
    content: "\e610";
}

.icon-chuang:before {
    content: "\e611";
}

.icon-duchu:before {
    content: "\e612";
}

.icon-duwei:before {
    content: "\e613";
}

.icon-jiaju:before {
    content: "\e614";
}

.icon-kongdiao:before {
    content: "\e615";
}

.icon-kuandai:before {
    content: "\e616";
}

.icon-reshuiqi:before {
    content: "\e617";
}

.icon-yangtai:before {
    content: "\e618";
}

.icon-xiyiji:before {
    content: "\e619";
}

.icon-dianshi:before {
    content: "\e61a";
}

.icon-office:before {
    content: "\e8ef";
}

.icon-home:before {
    content: "\e8f0";
}

.icon-rent:before {
    content: "\e8f1";
}

.icon-newhouse:before {
    content: "\e8f3";
}

.icon-about:before {
    content: "\e8f6";
}

.icon-gerenzhongxin:before {
    content: "\e8f8";
}

.icon-appxiazai:before {
    content: "\e8fa";
}

.icon-menu:before {
    content: "\e8fd";
}

.icon-xuexiao:before {
    content: "\e8fe";
}

.icon-jiaotong:before {
    content: "\e8ff";
}

.icon-yiyuan:before {
    content: "\e900";
}

.icon-yinhang:before {
    content: "\e901";
}

.icon-gouwu:before {
    content: "\e902";
}

.icon-tupian:before {
    content: "\e903";
}

.icon-tell:before {
    content: "\e904";
}

.icon-yuyue:before {
    content: "\e906";
}

.icon-garden:before {
    content: "\e8f9";
}

.icon-dingwei:before {
    content: "\e8fc";
}

.icon-chachengjiao:before {
    content: "\e913";
}

.icon-zhuanhuan:before {
    content: "\e914";
}

.icon-pinggufangjia:before {
    content: "\e915";
}

.icon-quyu:before {
    content: "\e916";
}

.icon-ditie:before {
    content: "\e917";
}

.icon-fangjia:before {
    content: "\e918";
}

.icon-fangdai:before {
    content: "\e91a";
}

.icon-school:before {
    content: "\e91b";
}

.icon-sale:before {
    content: "\e91c";
}

.icon-duanxin:before {
    content: "\e91e";
}

.icon-renzheng:before {
    content: "\e91f";
}

.icon-dianzan:before {
    content: "\e978";
}
