/* 全局搜索 */

.search-layer {
    @include position(fixed, 0, 0, 0, 0, 2000);
    @include flex-box;
    @include flex-direction(column);
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
}


/* search-body */

.search-layer .search-body {
    @include position(absolute, .0, 0, auto, 0, 10);
    @include flex-box;
    @include align-items;
    padding-left: 0.35rem;
    height: 0.88rem;
    background-color: #f9f9f9;
}

.search-layer .search-body .text-body {
    @include flex-box;
    @include flex;
    @include align-items; // @include justify-content(space-between);
    padding: .08rem 0;
    height: 0.72rem;
    border-radius: .44rem;
    background-color: #fff;
    box-sizing: border-box;
}

.search-body .text-body .search-close {
    position: relative;
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: .4rem;
    height: .4rem;
    margin-right: .24rem;
    border-radius: .2rem;
    font-size: .32rem;
    background-color: #fff;
    color: rgba(181, 185, 190, 1);
    overflow: hidden;
}

.search-layer .search-body .text-body .text {
    display: block;
    @include flex;
    padding: .24rem 0 .2rem;
    line-height: 1.2;
    border: none;
    background-color: transparent;
    font-size: .28rem;
    color: #2A2B2D;
}

.search-body .text-body .search-icon {
    position: relative;
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    padding-right: .15rem;
}

.search-layer .search-body .text-body .search-icon .circle {
    @include position(absolute, .04rem, auto, auto, .04rem, 10);
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: .72rem;
    height: .72rem;
    font-size: .24rem;
    color: $color;
    border-radius: 50%;
    z-index: 1;
}

// .search-layer .search-body .text-body .search-icon:before {
//     @include position(absolute, .24rem, auto, auto, .24rem, 10);
//     display: block;
//     content: '';
//     width: .2rem;
//     height: .2rem;
//     border: .04rem solid #fff;
//     border-radius: 50%;
//     z-index: 2;
// }
// .search-layer .search-body .text-body .search-icon:after {
//     @include position(absolute, .5rem, auto, auto, .44rem, 10);
//     display: block;
//     content: '';
//     width: .16rem;
//     height: .04rem;
//     background-color: #fff;
//     @include transform(rotateZ(45deg));
// }
.search-layer .search-body .text-body .style-two:before {
    @include position(absolute, .24rem, auto, auto, .24rem, 10);
    display: block;
    content: '';
    width: .2rem;
    height: .2rem;
    border: .04rem solid #5aa572;
    border-radius: 50%;
    z-index: 2;
}

.search-layer .search-body .text-body .style-two:after {
    @include position(absolute, .5rem, auto, auto, .44rem, 10);
    display: block;
    content: '';
    width: .16rem;
    height: .04rem;
    background-color: #5aa572;
    @include transform(rotateZ(45deg));
}

.search-layer .search-body .text-body .clear-text {
    position: relative;
    display: none;
    width: .4rem;
    height: .4rem;
    margin: .2rem;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
}

.search-layer .search-body .text-body .clear-text:after,
.search-layer .search-body .text-body .clear-text:before {
    @include position(absolute, .2rem, auto, auto, .08rem, 10);
    display: block;
    content: '';
    width: .24rem;
    height: .02rem;
    background-color: #fff;
}

.search-layer .search-body .text-body .clear-text:before {
    @include transform(rotateZ(-45deg));
}

.search-layer .search-body .text-body .clear-text:after {
    @include transform(rotateZ(45deg));
}

.search-layer .search-body .type {
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: 1.78rem;
    height: .8rem;
    font-size: $font-middle;
    color: $color-dark-grey;
    line-height: 1.2;
    text-align: center;
    border-right: .02rem solid #ddd;
    box-sizing: border-box;
}

.search-layer .search-body .type .txt {
    display: block;
    width: 4em;
}

.search-layer .search-body .type .icon {
    position: relative;
    display: block;
    width: .32rem;
    height: .32rem;
    overflow: hidden;
}

.search-layer .search-body .type .icon:before {
    @include position(absolute, .04rem, auto, auto, .1rem, 10);
    display: block;
    content: '';
    width: .14rem;
    height: .14rem;
    border-width: 0 .02rem .02rem 0;
    border-style: solid;
    border-color: #999;
    @include transform(rotateZ(45deg));
}

.search-layer .search-body .select {
    @include position(absolute, 1.06rem, auto, auto, .3rem, 10);
    display: none;
    width: 1.8rem;
    border: .02rem solid #ddd;
    border-radius: .06rem;
    background-color: #fff;
    box-sizing: border-box;
}

.search-layer .search-body .select .option {
    display: block;
    padding: .2rem 0;
    font-size: $font-middle;
    color: $color-dark-grey;
    line-height: 1.2;
    text-align: center;
    border-bottom: .02rem solid #ddd;
    box-sizing: border-box;
}

.search-layer .search-body .select .option:last-child {
    border: none;
}

.search-layer .search-body .cancel {
    @include flex-box;
    @include align-items;
    @include justify-content(flex-end);
    width: 1.13rem;
    line-height: .88rem;
    padding-right: 0.35rem;
    box-sizing: border-box;
    font-size: .28rem;
    color: rgba(254, 254, 255, 1);
}


/* search-keyword */

.search-layer .search-keyword {
    // display: none;
    @include flex;
    padding: .88rem .35rem 0;
    overflow: hidden;
    overflow-y: auto;
}

.search-layer .search-keyword .title {
    margin: .37rem 0 .30rem;
    font-size: .24rem;
    color: rgba(181, 185, 190, 1);
}

.search-layer .search-keyword .title:first-child {
    margin: .62rem 0 .30rem;
}

.search-layer .search-keyword .keywords {
    @include flex-box;
    @include flex-wrap(wrap); // padding: 0 .3rem;
}

.search-layer .search-keyword .items {
    display: block;
    line-height: 0.22rem;
    padding: .15rem .25rem;
    margin-right: .2rem;
    margin-bottom: .25rem;
    border-radius: .26rem;
    font-size: .24rem;
    color: rgba(94, 100, 107, 1);
    background-color: #f5f5f5;
    cursor: pointer;
}


/* search-list */

.search-layer .search-list {
    display: none;
    @include flex;
    overflow: hidden;
    padding: .88rem 0 0;
}

.search-layer .search-list .items {
    @include flex-box;
    @include align-items;
    @include justify-content(space-between);
    height: 1rem;
    margin-left: .3rem;
    padding-right: .3rem;
    font-size: $font-middle;
    color: $color-dark-grey;
    line-height: 1.2;
    border-bottom: $border;
    box-sizing: border-box;
}

.search-layer .search-list .items .txt-icon {
    @include flex;
    @include flex-box;
    @include align-items;
}

.search-layer .search-list .items .icon {
    display: block;
    margin-right: .1rem;
    margin-bottom: .1rem;
    font-size: .35rem;
    color: rgba(181, 185, 190, 1);
}

.search-layer .search-list .items .txt {
    display: block;
    @include flex;
    font-size: .26rem;
    color: rgba(42, 43, 45, 1);
}

.search-layer .search-list .items .icon-goto {
    position: relative;
    display: block;
    overflow: hidden;
    font-size: .24rem;
    color: rgba(181, 185, 190, 1);
}

.search-layer .search-list .clear-record {
    display: block;
    padding: .3rem;
    font-size: $font-middle;
    color: $color-grey;
    line-height: 1.2;
    text-align: center;
}
