@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
// @import '../../sass/header.scss'; // 全局头部
body {
    position: relative;
    padding-bottom: 1.1rem;
    background-color: #f5f5f5;
}


/* house-info */

.house-info {
    @include flex-box;
    @include flex-direction(column);
    padding: 0 .35rem;
    background-color: #fff;
    border-bottom: $border;
}

.house-info .tit {
    padding-top: .48rem;
    font-size: .24rem;
    color: rgba(181, 185, 190, 1);
}

.house-info .part {
    padding-right: .12rem;
    font-size: .22rem;
    color: rgba(94, 100, 107, 1);
    line-height: .3rem;
    padding-top: .3rem;
}

.house-info .part:last-child {
    padding-top: .2rem;
    padding-bottom: .7rem;
}


/* base-server */

.base-server {}

.base-server {}

.base-server {}

.base-server {}

.base-server {}


/* address-body */

.address-body {
    padding: .23rem .35rem;
    background-color: #fff;
}

.address-body .title {
    padding: .24rem 0 .35rem;
    font-size: .28rem;
    font-weight: 700;
    color: $color-dark-grey;
    line-height: 1.2; // text-align: center;
}

.address-body .map {
    position: relative;
    margin: .2rem 0;
    overflow: hidden;
}

.address-body .address {
    @include position(absolute, auto, auto, 0, auto, 10);
    padding: .2rem 0;
    width: 100%;
    font-size: $font-middle;
    color: rgba(255, 255, 255, 1);
    line-height: 1.2;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: .04em;
}


/* 房源基础信息 */


/* living-info */

.living-info {
    background-color: #fff;
    border-bottom: $border;
    padding: .16rem .35rem;
}

.living-info .title {
    padding: .1rem 0;
    line-height: 1.2; // text-align: center;
    font-size: .28rem;
    color: rgba(42, 43, 45, 1);
    font-weight: 700;
}

.living-info .items {
    @include flex-box;
    font-size: .26rem;
    line-height: .52rem;
    color: rgba(94, 100, 107, 1);
}

.living-info .items .txt {
    @include flex;
}

// .living-info .items .gap {
//     display: inline-block;
//     width: 2em;
// }

/* feature-channel */

.feature-channel {
    background-color: #fff;
    padding-left: .35rem;
}

.feature-channel .title {
    padding: .58rem .3rem .4rem 0;
    font-size: .28rem;
    color: rgba(42, 43, 45, 1);
}

.feature-channel .slide-body {
    overflow: hidden;
}

.feature-channel .slide {
    @include flex-box;
}

.feature-channel .items {
    @include flex-box;
    @include align-items;
    @include justify-content;
    @include flex(0, 0, auto);
    width: 3.8rem;
    height: 2.138rem;
    margin-right: .24rem;
    font-size: $font-large;
    color: #fff;
    line-height: 1.2;
    box-sizing: border-box;
}

@each $item in garden,
school,
overseas,
office,
onekey {
    .feature-channel .#{$item} {
        background: url('img/feature-#{$item}.jpg') 50% 50% no-repeat;
        background-size: 100% auto;
    }
}


/* footer-body */

.footer-body {
    @include position(fixed,
    auto,
    0,
    0,
    0,
    500);
    @include flex-box;
    background-color: #fff;
    height: 1rem;
}

.footer-body .items {
    flex: 1;
    @include flex-box;
    @include align-items;
}

.footer-body .items:last-child {
    @include justify-content;
    background-color: rgba(90, 165, 114, 1);
}

.footer-body .items .commuite {
    width: 0.42rem;
    height: 0.29rem;
    margin-left: .53rem;
    margin-right: .16rem;
    background-color: rgba(42, 43, 45, 1);
}

.footer-body .items span {
    font-size: .36rem;
    color: rgba(255, 255, 255, 1);
}

.footer-body .items .txt {
    font-size: .24rem;
    color: rgba(94, 100, 107, 1);
}

.footer-body .items .price {
    padding-right: .25rem;
    border-right: $border;
}

.footer-body .items .roder {
    padding-left: .21rem;
}
