@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/banner.scss'; // 焦点图
@import '../../sass/toast.scss'; // toast的样式
body {
    position: relative;
    padding-bottom: 1rem;
    background-color: #f5f5f5;
}

.clc-red {
    color: rgba(255, 92, 92, 1) !important;
}

.flex-box {
    @include flex-box;
    @include align-items;
}

.hide {
    display: none !important;
}


/* header-body */

.header-body {
    @include position(fixed, 0, 0, auto, 0, 500);
    @include flex-box;
    @include align-items;
    padding: .1rem;
    background-color: rgba(0, 0, 0, .6);
}

.header-body .title {
    @include flex;
    width: 50%;
    padding: 0 .1rem;
    font-size: $font-large;
    color: #fff;
    line-height: 1.2;
}

.header-body .title .tit {
    display: block;
}

.header-body .title .desc {
    font-size: 0.8em;
}

.header-body .back {
    @include flex-box;
    @include align-items;
    @include justify-content;
    position: relative;
    width: .8rem;
    height: .8rem;
    font-size: .42rem;
    color: #fff;
}

.header-body .collect,
.header-body .icon-collected {
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: .8rem;
    height: .8rem;
    font-size: .42rem;
}

.header-body .icon-collected {
    color: $color-orange;
}


/* banner-des */

.banner-des {
    padding: 0 .35rem;
    background-color: #fff;
}

.banner-des .content .oneline {
    padding-top: .24rem;
}

.banner-des .content .oneline p {
    font-size: .32rem;
    color: rgba(42, 43, 45, 1);
}

.banner-des .content .twoline {
    @include flex-box;
    @include flex-direction;
    @include align-items;
    @include justify-content(flex-start);
    padding: .26rem 0 .3rem;
    border-bottom: $border;
}

.star-lines {
    width: 1.2rem;
    height: .2rem;
    background-color: #ff5c5c;
}

.banner-des .content .twoline .score {
    font-size: .24rem;
    color: rgba(255, 92, 92, 1);
    margin-right: .26rem;
}

.banner-des .content .twoline .twoline-items {
    font-size: .24rem;
    padding: 0 .2rem;
    color: #b5b9be;
    line-height: 1;
    border-right: $border;
}

.banner-des .content .twoline .twoline-items:last-child {
    border: none;
}

.banner-des .tools {
    padding: .3rem 0 .6rem;
}

.banner-des .tools .items,
.banner-des .tools .items .fr-txt,
.banner-des .tools .items .fl-txt,
.banner-des .tools .items i {
    @include flex-box;
    @include align-items(flex-end);
}

.banner-des .tools .items {
    padding-bottom: .4rem;
}

.banner-des .tools .items:last-child {
    padding-bottom: 0;
}

.banner-des .tools .items .fr-txt {
    width: 2.5rem;
}

.banner-des .tools .items .fl-txt {
    @include flex;
}

.banner-des .tools .items i {
    height: 0.5rem;
    width: 0.5rem;
    font-size: .42rem;
}

.banner-des .tools .items span {
    font-size: .24rem;
    color: rgba(94, 100, 107, 1);
}


/* house-base-info */

.house-base-info {
    @include flex-box;
    @include flex-direction(column);
    padding: 0 .35rem;
    background-color: #fff;
    margin-top: .12rem;
}

.house-base-info .items {
    border-bottom: $border;
    padding-top: .48rem;
    padding-bottom: .36rem;
}

.house-base-info .items:last-child {
    border: 0;
}

.house-base-info .items .tit {
    font-size: .28rem;
    color: rgba(42, 43, 45, 1);
    font-weight: 900;
}

.house-base-info .house-des .part {
    padding-right: .12rem;
    font-size: .24rem;
    color: rgba(94, 100, 107, 1);
    line-height: .3rem;
    padding-top: .2rem;
    word-break: break-all;
}

.house-base-info .house-des .part:last-child {
    padding-top: .2rem;
}

.base-server .content {
    @include flex-box;
    @include flex-wrap(wrap);
    padding: .2rem 0;
    overflow: hidden;
}

.base-server .content .icon-items {
    display: block;
    width: 20%;
    padding: .2rem 0;
}

.base-server .content .icon-items .txt {
    display: block;
    padding: 5px 0;
    font-size: 14px;
    color: #333;
    line-height: 1.2;
    text-align: center;
}

.base-server .content .icon-items .icon {
    display: block;
    @include flex-box;
    @include justify-content;
    width: .6rem;
    height: .6rem;
    margin: 0 auto;
    font-size: .50rem;
    color: #999;
    line-height: 1
}

.base-server .more {
    @include flex-box;
    @include justify-content;
}

.base-server .more span {
    font-size: .2rem;
    color: rgba(181, 185, 190, 1);
    padding-right: .15rem;
}

.base-server .more .icon {
    position: relative;
    display: block;
    width: .32rem;
    height: .32rem;
    overflow: hidden;
    @include transition(all .3s);
}

.base-server .more .icon:before,
.base-server .more .icon:after {
    position: absolute;
    bottom: .1rem;
    right: auto;
    top: auto;
    left: .08rem;
    z-index: 10;
    display: block;
    content: "";
    width: .16rem;
    height: .16rem;
    border-width: 0 .02rem .02rem 0;
    border-style: solid;
    border-color: #999;
    @include transform(rotate(45deg));
}

.address-body {
    background-color: #fff;
}

.address-body .map {
    position: relative;
    overflow: hidden;
}

.address-body .address {
    @include position(absolute, auto, auto, 0, auto, 10);
    @include flex-box;
    @include align-items;
    padding: .2rem .3rem;
    width: 6.8rem;
    font-size: $font-middle;
    color: rgba(255, 255, 255, 1);
    line-height: 1.2;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: .04em;
    white-space: nowrap;
}

.address-body .address .icon {
    position: relative;
    display: block;
    width: .24rem;
    height: .24rem;
    margin-left: .3rem;
    overflow: hidden;
    @include transition(all .3s);
}

.address-body .address .icon::before {
    position: absolute;
    bottom: .06rem;
    right: auto;
    top: auto;
    left: .03rem;
    z-index: 10;
    display: block;
    content: "";
    width: .12rem;
    height: .12rem;
    border-width: 0 .015rem .015rem 0;
    border-style: solid;
    border-color: #fff;
    @include transform(rotate(-45deg));
}


/*end 房源基础信息 */


/* comment-body */

.comment-body {
    background-color: #fff;
    padding: .45rem .35rem;
    margin-top: .12rem;
}

.comment-body .total {
    padding-bottom: .3rem;
    border-bottom: $border;
}

.comment-body .total .line-one,
.comment-body .total .line-two {
    @include flex-box;
    @include justify-content(space-between);
}

.comment-body .total .line-two {
    padding-top: .1rem;
}

.comment-body .total .txt {
    font-size: .24rem;
    color: rgba(181, 185, 190, 1);
}

.comment-body .total .line-one .tlt {
    font-size: .28rem;
    font-weight: 700;
    color: rgba(42, 43, 45, 1);
}

.comment-body .total .line-two .socre {
    margin-right: .26rem;
}

.comment-body .line-one .icon {
    position: relative;
    display: block;
    width: .24rem;
    height: .24rem;
    margin-left: .1rem;
    overflow: hidden;
    @include transition(all .3s);
}

.comment-body .line-one .icon::before {
    position: absolute;
    bottom: .06rem;
    right: auto;
    top: auto;
    left: .03rem;
    z-index: 10;
    display: block;
    content: "";
    width: .12rem;
    height: .12rem;
    border-width: 0 .015rem .015rem 0;
    border-style: solid;
    border-color: #999;
    @include transform(rotate(-45deg));
}

.comment-body .first-comment {
    padding-top: .46rem;
}

.comment-body .first-comment .info {
    @include flex-box;
    @include align-items;
    @include justify-content(space-between);
}

.comment-body .first-comment .info .socre {
    font-size: .24rem;
    color: rgba(181, 185, 190, 1);
}

.comment-body .first-comment .info .photo {
    width: 0.88rem;
    height: 0.88rem;
    border-radius: .44rem;
    background-color: #eee;
    margin-right: .22rem;
}

.comment-body .first-comment .info .name-time {
    @include flex-box;
    @include flex-direction(column);
    @include justify-content;
    font-size: .24rem;
    color: rgba(181, 185, 190, 1);
}

.comment-body .first-comment .info .name-time span:first-child {
    font-size: .26rem;
    color: rgba(94, 100, 107, 1);
}

.comment-body .first-comment .des {
    margin-left: 1.1rem;
}

.comment-body .first-comment .des .des-cnt {
    font-size: .26rem;
    color: rgba(94, 100, 107, 1);
    line-height: .4rem;
    @include line-clamp;
}

.comment-body .first-comment .des .img-list {
    @include flex-box;
    @include flex-wrap(wrap);
    border-bottom: $border;
}

.comment-body .first-comment .des .des-duihua {
    @include flex-box;
    @include align-items;
    @include flex;
    padding-top: .2rem;
}

.comment-body .first-comment .des .des-duihua span {
    font-size: .26rem;
    color: $color;
    line-height: .4rem;
}

.comment-body .first-comment .des .des-duihua span:last-child {
    @include flex;
    color: rgba(94, 100, 107, 1);
}

.comment-body .first-comment .des-duihua .icon {
    @include flex-box;
    @include align-items;
    width: 0.4rem;
    height: 0.4rem;
    font-size: .32rem;
    color: $color;
}

.comment-body .first-comment .des .items {
    @include flex(0, 0, auto);
    width: 1.44rem;
    height: 1.2rem;
    margin-right: .16rem;
    margin-bottom: .24rem;
    color: #000;
    box-sizing: border-box;
}

// @each $item in garden,
// school,
// overseas,
// office,
// onekey {
//     .comment-body .#{$item} {
//         background: url('img/feature-#{$item}.jpg') 50% 50% no-repeat;
//         background-size: 100% auto;
//     }
// }

/*start living-info */

.living-info {
    background-color: #fff;
    padding: .16rem .35rem;
    margin-top: .12rem;
}

.living-info .title {
    padding: .1rem 0;
    line-height: 1.2; // text-align: center;
    font-size: .28rem;
    color: rgba(42, 43, 45, 1);
    font-weight: 700;
}

.living-info .items {
    @include flex-box;
    font-size: .26rem;
    line-height: .52rem;
    color: rgba(94, 100, 107, 1);
}

.living-info .items .lab {
  width: 1.5rem;
}
.living-info .items .txt {
    @include flex;
    width: 5.8rem;
}

// .living-info .items .gap {
//     display: inline-block;
//     width: 2em;
// }

/* feature-channel */

.feature-channel {
    background-color: #fff;
    padding-left: .35rem;
    margin-top: .12rem;
}

.feature-channel .title {
    padding: .48rem 0 .38rem;
    font-size: .28rem;
    color: rgba(42, 43, 45, 1);
}

.feature-channel .slide-body {
    overflow: hidden;
}

.feature-channel .slide {
    @include flex-box;
}

.feature-channel .items {
    @include flex-box;
    @include align-items;
    @include justify-content;
    @include flex(0, 0, auto);
    width: 3.8rem;
    height: 2.138rem;
    margin-right: .24rem;
    font-size: $font-large;
    color: #fff;
    line-height: 1.2;
    box-sizing: border-box;
}

// @each $item in garden,
// school,
// overseas,
// office,
// onekey {
//     .feature-channel .#{$item} {
//         background: url('img/feature-#{$item}.jpg') 50% 50% no-repeat;
//         background-size: 100% auto;
//     }
// }
.feature-channel .slide .oneline {
    @include flex-box;
    @include justify-content(space-between);
    width: 3.8rem;
    margin-top: .21rem;
}

.feature-channel .slide .twoline {
    @include flex-box;
    @include justify-content(flex-start);
    width: 3.8rem;
    margin-top: .05rem;
    margin-bottom: .25rem;
}

.feature-channel .slide .oneline p {
    font-size: .24rem;
    font-weight: 700;
    color: rgba(42, 43, 45, 1);
}

.feature-channel .slide .oneline p:last-child {
    color: rgba(255, 92, 92, 1);
}

.feature-channel .slide .twoline .twoline-items {
    font-size: .20rem;
    padding: 0 .2rem;
    color: rgba(181, 185, 190, 1);
    line-height: 1;
    border-right: $border;
}

.feature-channel .slide .twoline .twoline-items:first-child {
    padding-left: 0;
}

.feature-channel .slide .twoline .twoline-items:last-child {
    border: none;
}


/* footer-body */

.footer-body {
    @include position(fixed, auto, 0, 0, 0, 500);
    @include flex-box;
    background-color: #fff;
    height: 1rem;
    box-shadow: 0 -.1rem .1rem rgba(200, 200, 200, .2);
}

.footer-body .items {
    flex: 1;
    @include flex-box;
    @include align-items;
}

.footer-body .items:last-child {
    @include justify-content;
    background-color: $color;
}

.footer-body .items .commuite {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: .53rem;
    margin-right: .16rem;
    font-size: .42rem;
}

.footer-body .items span {
    font-size: .36rem;
    color: rgba(255, 255, 255, 1);
}

.footer-body .items .txt {
    font-size: .24rem;
    color: rgba(94, 100, 107, 1);
}

.footer-body .items .price {
    padding-right: .25rem;
    border-right: $border;
}

.footer-body .items .roder {
    padding-left: .21rem;
}

// 联系管家遮罩层
#overlay {
    @include flex-box;
    @include flex-direction(column);
    @include align-items;
    @include justify-content(flex-end);
    display: none;
}

#overlay .box {
    @include flex-box;
    @include flex-direction(column);
    width: 6.8rem;
    margin-bottom: 0.3rem;
    background: rgba(255, 255, 255, 1);
    border-radius: .08rem;
    box-sizing: border-box;
}

#overlay .box .items {
    @include flex-box;
    @include align-items;
    @include justify-content;
    font-size: .28rem;
    height: 1.22rem;
    color: rgba(42, 43, 45, 1);
    border-bottom: .01rem solid rgba(227, 230, 233, 1);
}

#overlay .box .items .name {
    @include flex;
    padding-left: 1.5rem;
}

#overlay .box .items .tel {
    @include flex;
    padding-left: .2rem;
}
