/* 筛选 */

.filter-layer {
    @include position(fixed, 0, 0, 20%, 0, 2000);
    @include flex-box;
    @include flex-direction(column);
    box-sizing: border-box;
    overflow: hidden;
}

.filter-body {
    @include position(relative, 0, 0, auto, 0, 500);
    @include flex-box; // border-top: $border;
    // border-bottom: $border;
    padding: 0 .35rem;
    background-color: #fff;
}

.filter-body .items {
    @include flex-box;
    @include flex;
    @include align-items;
    @include justify-content;
    width: 25%;
    height: .9rem;
    font-size: $font-middle;
    color: $color-dark-grey;
    line-height: 1.2;
}

.filter-body .items .txt {
    display: block;
    max-width: 70%;
    max-width: calc(100% - .3rem);
}

.filter-body .items .icon {
    position: relative;
    display: block;
    width: .32rem;
    height: .32rem;
    overflow: hidden;
}

.filter-body .items .icon:before {
    @include position(absolute, .12rem, auto, auto, .1rem, 10);
    display: block;
    content: '';
    width: .02rem;
    height: .02rem;
    border-width: .1rem .08rem;
    border-style: solid;
    border-color: #d0d0d0 transparent transparent;
}

.filter-body .current {
    font-size: .26rem;
    color: $color-orange;
}

.filter-body .current .icon {
    @include transform(rotateZ(180deg));
}

.filter-body .current .icon:before {
    border-color: $color-orange transparent transparent;
}


/* filter-list */

.filter-list {
    @include flex-box;
    @include flex;
    @include flex-direction(column);
    height: 4rem;
    background-color: #fff;
}

.filter-list .content {
    @include flex-box;
    @include flex;
    height: 2rem;
}

.filter-list .content .slide-body {
    @include flex;
    width: 25%;
    border-right: $border;
    overflow: hidden;
}

.filter-list .content .items {
    display: block;
    padding: .24rem .3rem;
    font-size: $font-middle;
    color: $color-dark-grey;
    line-height: 1.2;
    border-bottom: $border;
}

.filter-list .content .current {
    color: $color-orange;
    background-color: #fafafa;
}


/* range-body */

.filter-list .range-body {
    @include flex-box;
    @include align-items;
    padding: .4rem .4rem .2rem .6rem;
    box-shadow: 0 -.04rem .04em rgba(100, 100, 100, .1);
}

.filter-list .range-body .range {
    @include flex;
    position: relative;
    height: .04rem;
    width: 2rem;
    margin: 0 .4rem;
    border-radius: .04rem;
    background-color: #ccc;
}

.filter-list .range-body .ok {
    display: block;
    padding: .2rem;
    font-size: $font-middle;
    color: $color-dark-grey;
    line-height: 1.2;
}

.filter-list .range-body .range-value {
    @include position(absolute, 0, 0, 0, 0, 10);
    background-color: $color-orange;
}

.filter-list .range-body .first-slider {
    @include position(absolute, -.18rem, auto, auto, -.4rem, 20);
}

.filter-list .range-body .last-slider {
    @include position(absolute, -.18rem, -.4rem, auto, auto, 20);
}

.filter-list .range-body .first-slider,
.filter-list .range-body .last-slider {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 .06rem rgba(0, 0, 0, .5);
}

.filter-list .range-body .text-value {
    @include position(absolute, -.4rem, auto, auto, -50%, 10);
    width: .8rem;
    font-size: $font-small;
    color: $color-orange;
    line-height: 1.2;
    text-align: center;
}

.filter-list .range-body .orange-text {
    @include flex-box;
    @include align-items;
    @include justify-content;
    top: -1.1rem;
    width: .8rem;
    height: .8rem;
    color: #fff;
    border-radius: 50%;
    background-color: $color-orange;
}

.filter-list .range-body .orange-text:before {
    @include position(absolute, .48rem, auto, auto, .2rem, -10);
    display: block;
    content: '';
    width: .4rem;
    height: .4rem;
    background-color: $color-orange;
    @include transform(rotateZ(45deg));
}


/* checkbox-body */

.filter-list .checkbox-body {
    @include flex-box;
    @include flex;
    height: 2rem;
}

.filter-list .checkbox-body .slide-body {
    @include flex;
    width: 2rem;
    overflow: hidden;
}

.filter-list .checkbox-body .options {
    margin-left: .4rem;
    padding: .3rem 0;
    border-bottom: $border;
}

.filter-list .checkbox-body .options:last-child {
    border: none;
}

.filter-list .checkbox-body .tit {
    margin-bottom: .3rem;
    font-size: $font-middle;
    color: $color-dark-grey;
    line-height: 1.2;
}

.filter-list .checkbox-body .items-box {
    @include flex-box;
    @include flex-wrap(wrap);
}

.filter-list .checkbox-body .items {
    display: block;
    width: 27%;
    width: calc(33.33% - .4rem);
    margin-right: .4rem;
    margin-bottom: .3rem;
    padding: .1rem 0;
    font-size: $font-small;
    color: $color-dark-grey;
    line-height: 1.2;
    text-align: center;
    border: $border;
    border-radius: .06rem;
    box-sizing: border-box;
}

.filter-list .checkbox-body .current {
    color: $color-orange;
    border: .02rem solid $color-orange;
}


/* complete-body */

.filter-list .complete-body {
    @include flex-box;
    background-color: #fff;
}

.filter-list .complete-body .items {
    display: block;
    padding: .24rem 0;
    font-size: $font-middle;
    line-height: 1.2;
    text-align: center;
}

.filter-list .complete-body .ok {
    width: 60%;
    color: #fff;
    background-color: $color-orange;
}

.filter-list .complete-body .cancel {
    width: 40%;
    color: $color-grey;
    background-color: #f3f3f3;
}
