/* 筛选 */

.filter-layer {
    @include position(fixed, 0, 0, 0, 0, 2000);
    @include flex-box;
    @include flex-direction(column);
    box-sizing: border-box;
    overflow: hidden;
}


/* .filter-header */


/* start filter-search */

.filter-layer .filter-header {
    // @include position(fixed, 0, 0, auto, 0, 999);
    background-color: rgba(90, 165, 114, 1);
}

.filter-layer .filter-header .des {
    @include flex-box;
    @include align-items;
    @include justify-content;
    height: .88rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

.filter-layer .filter-header .tlt {
    font-size: .36rem;
    color: #fff;
    line-height: 1.2;
}

.filter-layer .filter-header .filter-close {
    @include position(absolute, 0, auto, auto, 0, 10);
    display: block;
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: .88rem;
    height: .88rem;
    overflow: hidden;
    font-size: .36rem;
    color: #fff;
}


/* end filter-search */


/* .filter-search */

.filter-search {
    background-color: #f5f5f5;
}

.filter-search .button {
    padding: .18rem .35rem;
    background-color: transparent;
}

.filter-search .button .text {
    @include flex;
    @include flex-box;
    @include align-items;
    background-color: #fff;
    border-radius: .44rem;
}

.filter-search .button .text .icon-search {
    @include flex-box;
    @include align-items;
    @include justify-content;
    margin: .08rem;
    width: 0.72rem;
    height: 0.72rem;
    background: rgba(90, 165, 114, 1);
    border-radius: .36rem;
    color: #fff;
}

.filter-search .button .text .text {
    @include flex;
    height: 0.88rem;
    margin-left: .4rem;
    border-radius: .44rem;
}


/* .filter-body */

.filter-body {
    @include position(relative, 0, 0, auto, 0, 500);
    @include flex-box; // border-top: $border;
    // border-bottom: $border;
    padding: 0 .35rem;
    background-color: #fff;
}

.filter-body .items {
    @include flex-box;
    @include flex;
    @include align-items;
    @include justify-content;
    width: 25%;
    height: .9rem;
    font-size: $font-middle;
    color: $color-dark-grey;
    line-height: 1.2;
}

.filter-body .items .txt {
    display: block; // max-width: 70%;
    // max-width: calc(100% - .3rem);
    font-size: .24rem; // color: rgba(42, 43, 45, 1);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.filter-body .items .icon {
    position: relative;
    display: block;
    width: .32rem;
    height: .32rem;
    overflow: hidden;
}

.filter-body .items .icon:before {
    @include position(absolute, .12rem, auto, auto, .1rem, 10);
    display: block;
    content: '';
    width: .02rem;
    height: .02rem;
    border-width: .1rem .08rem;
    border-style: solid;
    border-color: #d0d0d0 transparent transparent;
}

.filter-body .current {
    font-size: .26rem; // color: rgba(90, 165, 114, 1);
    color: rgba(255, 92, 92, 1);
}

.filter-body .current .icon {
    @include transform(rotateZ(180deg));
}

.filter-body .current .icon:before {
    border-color: rgba(255, 92, 92, 1) transparent transparent;
}


/* filter-list */

.filter-list {
    @include flex-box;
    @include flex-direction(column);
    height: 4rem;
    background-color: #fff;
}

.filter-layer .onelist {
    position: relative;
    height: 7.84rem;
    padding-bottom: .88rem;
}

.filter-layer .twolist {
    height: 5rem;
}

.filter-layer .threelist {
    @include flex;
    position: relative;
    padding-bottom: .88rem;
    box-sizing: border-box;
}

.filter-list .content {
    @include flex-box;
    @include flex;
    height: 2rem;
}

.filter-list .content .slide-body {
    width: 2.96rem;
    background-color: #fbfbfb;
    overflow: hidden;
}

// .filter-list .content .slide-body 
.filter-list .content .items {
    display: block;
    @include flex-box;
    @include align-items;
    height: 0.98rem;
    padding: .24rem .3rem;
    font-size: .26rem;
    box-sizing: border-box; // border-bottom: $border;
}

.filter-list .content .slide-body:last-child {
    @include flex; // padding: .24rem 0;
    padding: 0 .3rem;
    margin-top: .24rem;
    background-color: #fff;
}

.filter-list .content .slide-body .items {
    color: rgba(181, 185, 190, 1);
    border-bottom: $border;
}

.filter-list .content .slide-body:first-child .items {
    color: rgba(94, 100, 107, 1);
}

.filter-list .content .slide-body .current {
    color: rgba(90, 165, 114, 1);
}

.filter-list .content .slide-body:first-child .current {
    color: rgba(90, 165, 114, 1);
    background-color: #fff;
}

.onelist .content .slide-body:first-child .current {
    border: 0;
}


/* range-body */

.filter-list .range-body {
    @include flex-box;
    @include align-items;
    @include justify-content;
    padding: .8rem .35rem .6rem; // box-shadow: 0 -.04rem .04em rgba(100, 100, 100, .1);
}

.filter-list .range-body .range {
    @include flex;
    position: relative;
    height: .24rem; // width: 2rem;
    margin: 0 .35rem;
    border-radius: .04rem;
    background-color: rgba(247, 247, 247, 1);
}

.filter-list .range-body .ok {
    display: block;
    padding: .2rem;
    font-size: $font-middle;
    color: $color-dark-grey;
    line-height: 1.2;
}

.filter-list .range-body .range-value {
    @include position(absolute, 0, 0, 0, 0, 10);
    background-color: rgba(90, 165, 114, 1);
}

.filter-list .range-body .first-slider {
    @include position(absolute, -.18rem, auto, auto, -.4rem, 20);
}

.filter-list .range-body .last-slider {
    @include position(absolute, -.18rem, -.4rem, auto, auto, 20);
}

.filter-list .range-body .first-slider,
.filter-list .range-body .last-slider {
    width: .36rem;
    height: .48rem;
    border-radius: .1rem;
    background-color: #fff;
    box-shadow: 0 0 .06rem rgba(0, 0, 0, .5); // margin: 0 .36rem;
}

.filter-list .range-body .first-slider {
    margin-right: .36rem;
    margin-left: .07rem;
}

.filter-list .range-body .last-slider {
    margin-left: .36rem;
    margin-right: .07rem;
}

.filter-list .range-body .text-value {
    @include position(absolute, -.4rem, auto, auto, -50%, 10);
    width: .8rem;
    font-size: $font-small;
    color: rgba(90, 165, 114, 1);
    line-height: 1.2;
    text-align: center;
}

// .filter-list .range-body .orange-text {
//     @include flex-box;
//     @include align-items;
//     @include justify-content;
//     top: -1.1rem;
//     width: .8rem;
//     height: .8rem;
//     color: #fff;
//     border-radius: 50%;
//     background-color: rgba(90, 165, 114, 1);
// }
// .filter-list .range-body .orange-text:before {
//     @include position(absolute, .48rem, auto, auto, .2rem, -10);
//     display: block;
//     content: '';
//     width: .4rem;
//     height: .4rem;
//     background-color: rgba(90, 165, 114, 1);
//     @include transform(rotateZ(45deg));
// }

/* checkbox-body */

.filter-list .checkbox-body {
    @include flex-box;
    @include flex;
    height: 2rem;
}

.filter-list .checkbox-body .slide-body {
    @include flex;
    width: 2rem;
    overflow: hidden;
}

.filter-list .checkbox-body .options {
    margin-left: .35rem;
    padding: .3rem 0;
}

.filter-list .checkbox-body .options:last-child {
    border: none;
}

.filter-list .checkbox-body .tit {
    margin-bottom: .3rem;
    font-size: $font-middle;
    line-height: 1.2;
    padding-top: .5rem;
}

.filter-list .checkbox-body .tit-pirce {
    margin-bottom: .3rem;
    font-size: $font-middle;
    line-height: 1.2;
    padding-top: .5rem;
    padding-left: .35rem;
}

.filter-list .checkbox-body .items-box {
    @include flex-box;
    @include flex-wrap(wrap);
}

.filter-list .checkbox-body .items,
.filter-list .checkbox-body .more-sel-items {
    position: relative;
    display: block; // width: 27%;
    width: 1.6rem;
    height: 0.52rem;
    margin-right: .12rem;
    margin-bottom: .36rem;
    padding: .12rem 0;
    line-height: 1.2;
    text-align: center;
    border: $border;
    border-radius: .08rem;
    box-sizing: border-box;
    font-size: .24rem;
    color: rgba(181, 185, 190, 1);
    background-color: rgba(247, 247, 247, 1);
}

.filter-list .checkbox-body .more-sel-items .icon {
    @include position(absolute, auto, 0, .1rem, .06rem, 10);
    @include flex-box;
    @include align-items;
    @include justify-content;
    content: "";
    height: 0.3rem;
    width: 0.3rem;
    font-size: .18rem;
    color: rgba(247, 247, 247, 1);
}

.filter-list .checkbox-body .current {
    color: rgba(90, 165, 114, 1);
    background-color: #fff;
    border: .02rem solid rgba(90, 165, 114, 1);
}

.filter-list .checkbox-body .more-sel-items .current {
    color: rgba(90, 165, 114, 1);
    background-color: transparent;
    border: 0;
}


/* complete-body */

.filter-list .complete-body {
    @include position(fixed, auto, 0, 0, 0, 10);
    @include flex-box;
    background-color: #fff;
    height: 0.88rem;
}

.filter-list .complete-body .items {
    display: block;
    padding: .24rem 0;
    font-size: $font-middle;
    line-height: 1.2;
    text-align: center;
}

.filter-list .complete-body .ok {
    @include flex;
    color: #fff;
    background-color: rgba(90, 165, 114, 1);
}

.filter-list .complete-body .cancel {
    width: 2.96rem;
    color: rgba(94, 100, 107, 1);
    background-color: #fff;
}

.onelist .complete-body {
    top: 9.6rem;
}

// .filter-list .cl-fs {
//     font-size: .24rem;
//     color: rgba(255, 92, 92, 1);
// }
