.index-list {
    border-bottom: $border;
    padding: .36rem 0 .38rem;
    display: block;
    overflow: hidden;
}

.index-list .img {
    @include flex-box;
    @include align-items;
    width: 6.8rem;
    height: 3.84rem;
    overflow: hidden;
}

.index-list img {
    border-radius: .04rem;
}

.other-line,
.three-rline,
.three-lline,
.item-oneline,
.item-twoline,
.item-threeline {
    @include flex-box;
    @include align-items;
}

.other-line {
    @include flex;
    @include justify-content(flex-end);
    font-size: .2rem;
    color: rgba(181, 185, 190, 1);
}

.other-line .icon {
    font-size: .24rem;
}

.index-list .item-oneline {
    @include justify-content(space-between);
    padding-top: .24rem;
}

.index-list .item-oneline p {
    font-size: .32rem;
}

.index-list .item-oneline p:first-child {
    color: rgba(42, 43, 45, 1);
}

.index-list .item-oneline p:last-child {
    color: rgba(255, 92, 92, 1);
    font-weight: 700;
}

.index-list .item-twoline,
.index-list .item-threeline {
    @include justify-content(flex-start);
    padding-top: .2rem;
    white-space: nowrap;
}


.index-list .twoline-items {
    font-size: .24rem;
    padding: 0 .2rem;
    color: rgba(181, 185, 190, 1);
    line-height: 1;
    border-right: $border;
}

.index-list .twoline-items:last-child {
    border: none;
}

.index-list .item-twoline .twoline-items:first-child {
    padding: 0;
    border: 0;
}

