.index-list {
    border-bottom: $border;
    padding: .36rem 0 .38rem;
}

.index-list img {
    width: 100%;
    height: 3.84rem;    
}

.item-oneline,
.item-twoline,
.item-threeline,
.three-rline,
.three-lline {
    @include flex-box;
    @include flex-direction;
    @include align-items;
}

.index-list .item-oneline {
    @include justify-content(space-between);
    padding-top: .24rem;
}

.index-list .item-oneline p {
    font-size: .32rem;
}

.index-list .item-oneline p:first-child {
    color: rgba(42, 43, 45, 1);
}

.index-list .item-oneline p:last-child {
    font-family: HelveticaNeueDeskInterface-Bold;
    color: rgba(255, 92, 92, 1);
}

.index-list .item-twoline,
.item-threeline {
    @include justify-content(flex-start);
    padding-top: .26rem;
}

.index-list .twoline-items {
    font-size: .24rem;
    padding: 0 .2rem;
    color: rgba(181, 185, 190, 1);
    line-height: 1;
    border-right: $border;
}

.index-list .twoline-items:last-child {
    border: none;
}

.index-list .item-twoline .twoline-items:first-child {
    padding-left: .3rem;
}

.index-list .item-twoline .twoline-items:first-child:before {
    @include position(absolute, auto, auto, auto, .35rem, 10);
    display: block;
    content: '';
    height: .23rem;
    width: .17rem;
    background-color: skyblue;
}

.three-lline {
    @include justify-content(space-between);
}

.three-lline .star-lines {
    width: 1.2rem;
    height: .2rem;
    background-color: rgba(255, 92, 92, 1);
    margin-right: .26rem;
}

.three-lline .score {
    font-size: .24rem;
    color: rgba(255, 92, 92, 1);
}
