@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/header.scss'; // 全局头部
@import '../../sass/navigate.scss'; // 侧边导航
@import '../../sass/footer.scss'; // 全局底部
@import '../../sass/appDownload.scss'; // 全局下载APP
body {
    position: relative;
    padding-top: .88rem;
    background-color: #f5f5f5;
    height: 100%;
    box-sizing: border-box;
}

.article-body {
    min-height: calc(100% - 4rem);
    box-sizing: border-box;
    visibility: hidden;
}

.personal-info {
    @include flex-box;
    @include align-items;
    @include justify-content(space-between);
    @include linear-gradient;
    height: 1.9rem;
    padding: 0 .65rem 0 .35rem;
    box-sizing: border-box;
}

.personal-info .flex-box {
    @include flex;
    @include flex-box;
    @include align-items;
}

.personal-info .icon {
    width: 0.26rem;
    height: 0.26rem;
    font-size: .26rem;
    color: rgba(255, 255, 255, 1);
}

.personal-info .photo {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: .65rem;
    background: url('./img/headPortrait.png');
    background-size: cover;
    margin-right: .3rem;
    overflow: hidden;
}

.personal-info .name-time {
    @include flex;
    @include flex-box;
    @include flex-direction(column);
    @include justify-content;
    font-size: .28rem;
    color: rgba(255, 255, 255, 1);
}

.personal-info .name-time .tel {
    margin-top: 0.2rem;
    font-size: .24rem;
}

.personal-info .name-time .icon {
    width: 0.25rem;
    height: 0.25rem;
    font-size: .25rem;
    margin-right: 0.1rem;
    color: rgba(255, 255, 255, 1);
}

/* other-info */

.other-info {
    @include flex-box;
    @include justify-content(space-around);
    height: 1.14rem;
    background-color: #fff;
    padding: 0 .1rem;
}

.other-info .items {
    @include flex;
    @include flex-box;
    @include flex-direction(column);
    @include align-items;
    @include justify-content;
    color: rgba(94, 100, 107, 1);
}

.other-info .items .txt {
    font-size: .22rem;
    color: rgba(42, 43, 45, 1);
    margin-top: 0.1rem;
}

.general-info .other-info .items .number {
    font-size: .3rem;
    color: rgba(42, 43, 45, 1);
}

/* order-info */

.order-info {
    @include flex-box;
    @include flex-direction(column);
    height: 5.45rem;
    margin-top: 0.13rem;
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
}

.order-info .title {
    @include flex-box;
    @include align-items;
    @include justify-content(space-between);
    height: .9rem;
    padding: 0 .35rem;
    margin-bottom: 0.1rem;
}

.order-info .title .txt {
    font-size: .26rem;
    color: rgba(42, 43, 45, 1);
}

.order-info .title .icon {
    font-size: .26rem;
    color: rgba(181, 185, 190, 1);
}

.order-info .slider {
    @include flex(1,
    0,
    auto);
    @include flex-box;
    @include flex-direction(column);
    padding: 0 0.35rem;
    box-sizing: border-box;
    height: auto !important;
}

.order-info .slider .items {
    @include flex(1,
    0,
    auto);
    height: 1.8rem !important;
    border-radius: .08rem;
    @include border-media( .01rem,
    dashed,
    rgba(90, 165, 114, 1));
    padding: 0 0.25rem;
    margin-bottom: 0.32rem;
}

.order-info .slider .items .tlt {
    @include flex(1,
    0,
    auto);
    @include flex-box;
    @include justify-content(space-between);
    padding-top: 0.36rem;
}

.order-info .slider .items .tlt .txt {
    @include flex-box;
    font-size: .32rem;
    color: rgba(94, 100, 107, 1);
}

.order-info .slider .items .tlt .ellips {
    @include flex;
}

.order-info .slider .items .tlt .current {
    @include justify-content(flex-end);
    color: $color;
    font-weight: 700;
    width: 2rem;
}

.order-info .slider .items .time {
    @include flex-box;
    padding-top: 0.16rem;
}

.order-info .slider .items .time .txt {
    font-size: .24rem;
    color: rgba(181, 185, 190, 1);
    margin-right: 0.48rem;
}

.order-info .slider-point {
    @include flex-box;
    @include justify-content;
    padding: 0.24rem 0;
    display: none;
}

.order-info .slider-point .point {
    width: .14rem;
    height: .14rem;
    background: rgba(227, 230, 233, 1);
    border-radius: .07rem;
    margin-right: 0.2rem;
}

.order-info .slider-point .current {
    background: $color;
}

.landlord-entry {
    @include flex-box;
    @include justify-content;
}

.landlord-entry img {
    width: 1.18rem;
    height: 1.04rem;
    margin-right: 0.24rem;
    margin-top: 0.1rem;
}

.landlord-entry .txt {
    margin-top: 0.28rem;
    @include flex-box;
    @include align-items;
    @include justify-content;
    @include linear-gradient;
    width: 2.52rem;
    height: .48rem;
    border-radius: .04rem;
    font-size: .24rem;
    color: rgba(255, 255, 255, 1);
}

.server-tel {
    @include flex-box;
    @include align-items(flex-end);
    @include justify-content;
    padding-top: 0.2rem;
    height: .48rem;
    background: rgba(255, 255, 255, 1);
    font-size: .24rem;
}

.server-tel a {
    color: rgba(94, 100, 107, 1);
}

.article-body .noOrder-body {
    @include flex(1,
    0,
    auto);
    @include flex-box;
    @include flex-direction(column);
    @include align-items;
    @include justify-content;
    background-color: #fff;
    margin-top: 0.24rem;
}

.article-body .noOrder-body .img {
    width: 2.5rem;
    height: 2rem;
    background: url('./img/nullbox.png') no-repeat;
    background-size: 2.5rem 2rem;
}

.article-body .noOrder-body .txt {
    padding-left: 0.04rem;
    font-size: .28rem;
    color: #5e646b;
    padding-top: 0.2rem;
}

.order-slider {
    @include flex(1,
    0,
    auto);
    @include flex-box;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.order-slider .banner {
    @include flex(1,
    0,
    auto);
    @include flex-box;
}

.order-info .pagination {
    @include position(absolute,
    auto,
    0,
    0,
    auto,
    10);
    display: flex;
    display: -webkit-flex;
    @include align-items;
    @include justify-content;
    width: 100%;
    height: 0.14rem;
    padding-bottom: 0.08rem;
}

.order-info .pagination span {
    width: .14rem;
    height: .14rem;
    background: rgba(227, 230, 233, 1);
    border-radius: .07rem;
    margin: 0 0.1rem;
}

.order-info .pagination .current {
    background: $color;
}