@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/list/index-list.scss'; // 推荐房源列表
@import '../../sass/footer.scss'; // 全局底部
body {
    padding-bottom: 50px;
    background-color: #fff;
}


/* header-body */

.header-body {
    width: 100%;
    height: 4.96rem;
    background: url('./img/feature-garden.jpg') no-repeat;
    background-size: cover;
}

.header-body .header-title {
    @include flex-box;
    @include flex-direction;
    @include align-items;
    @include justify-content(space-between);
    width: 5.85rem;
    height: .81rem;
    padding-top: 1.43rem;
    margin-left: .9rem;
}

.header-body .header-title p {
    font-size: .88rem;
    font-family: MFYueYuan_Noncommercial-Regular;
    color: rgba(255, 255, 255, 1);
}

.header-body .user {
    @include position(absolute,
    .24rem,
    .36em,
    auto,
    auto,
    10);
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: .48rem;
    height: .48rem;
    font-size: .48rem;
    color: #fff;
    overflow: hidden;
}

.header-body .user:before {
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
}


/* 公共margin */

.mrl_35 {
    margin-left: .35rem;
    margin-right: .35em;
}


/* select-body */

.select-body {
    @include flex-box;
    @include flex-direction(column);
    @include position(relative,
    -1.46rem,
    auto,
    auto,
    auto,
    10);
    background-color: rgba(255, 255, 255, 1);
    border-radius: .04rem;
    box-shadow: 0 0 .1rem rgb(100, 100, 100);
    padding: .3rem .6rem .4rem;
}

.select-body .input-text {
    @include flex-box;
    @include justify-content(space-between);
    height: .6rem;
    padding-bottom: .2rem;
    border-bottom: $border;
    width: 100%;
}

.select-body .input-text .input-text-left {
    @include flex-box;
    @include flex;
    @include align-items(flex-end);
}

.select-body .input-text .input-text-left i {
    width: .34rem;
    height: .34rem;
    margin-right: .32rem;
    background-color: skyblue;
}

.select-body .input-text .input-text-right {
    @include flex-box;
    @include align-items(flex-end);
}

.select-body .input-text .input-text-right i {
    width: .2rem;
    height: .24rem;
    background-color: rgba(90, 165, 114, 1);
}

.select-body .input-text .input-text-right span {
    margin-left: .1rem;
    font-size: .22rem;
    font-family: PingFangSC;
    color: rgba(90, 165, 114, 1);
}

.select-body .input-text input {
    @include flex;
    border: none;
    outline: none;
    color: rgba(196, 201, 205, 1);
    font-size: .28rem
}

.select-body button {
    padding: 0;
    border: none;
    outline: none; //css去掉button点击后的蓝框
    margin-top: .27rem;
    height: .8rem;
    width: 100%;
    font-size: .34rem;
    background: rgba(90, 165, 114, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: .04rem;
}


/* navigate-body */

.navigate-body {
    @include flex-box;
    @include justify-content(space-around);
    height: 1.42rem;
    margin-top: -1.22rem;
    padding-top: .2rem;
    background: rgba(255, 255, 255, 1);
    border-radius: .04rem;
    box-shadow: 0 0 .1rem rgb(100, 100, 100);
}

.navigate-body .items {
    display: block;
    width: 25%;
    box-sizing: border-box;
}

.navigate-body .items .icon-box {
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: .86rem;
    height: .8rem;
    margin: 0 auto;
}

.navigate-body .items .icon {
    font-size: .68rem;
    color: #5aa572;
    line-height: 1;
    overflow: hidden;
}

.navigate-body .items .txt {
    display: block;
    margin-top: .24rem;
    font-size: .22rem;
    font-family: PingFangSC;
    color: rgba(105, 107, 112, 1);
    line-height: 1;
    text-align: center;
}

.navigate-body .items .sale {
    background-color: #e6b322;
}

.navigate-body .items .newhouse {
    background-color: #a9c980;
}

.navigate-body .items .rent {
    background-color: #898085;
}

.navigate-body .items .app {
    background-color: #6c848e;
}

.navigate-body .items .overseas {
    background-color: #5383c3;
}

.navigate-body .items .loan {
    background-color: #b4866c;
}


/* recommend-body */

.recommend-body {
    background-color: #fff;
    margin-top: .48rem;
}

.recommend-body .title {
    @include flex-box;
    @include align-items;
    @include justify-content;
    font-size: .36rem;
    font-family: PingFangSC-Medium;
    color: rgba(42, 43, 45, 1);
}

.recommend-body .title .txt {
    font-size: .36rem;
    font-family: PingFangSC-Medium;
    color: rgba(42, 43, 45, 1);
}

.recommend-body .title .icon {
    position: relative;
    display: block;
    width: .36rem;
    height: .36rem;
    margin-right: .24rem;
    overflow: hidden;
}

// .recommend-body .title .icon:before {
//     @include position(absolute, 4px, auto, auto, 1px, 10);
//     display: block;
//     content: '';
//     width: 10px;
//     height: 10px;
//     border-width: 2px 2px 0 0;
//     border-style: solid;
//     border-color: #ccc;
//     @include transform(rotateZ(45deg));
// }

/* app-download */

.app-download {
    @include position(fixed,
    auto,
    0,
    0,
    0,
    1000);
    @include flex-box;
    @include align-items;
    @include justify-content(space-between);
    height: .86rem;
    padding-right: .35rem;
    ;
    padding-left: .35rem;
    ;
    background-color: #f3ffff;
    box-shadow: 0 -5px 10px rgba(100, 100, 100, .2);
}

.app-download-box {
    @include flex-box;
    @include align-items;
}

.app-download .logo {
    display: block;
    width: 1.6rem;
    height: .56rem;
    margin-right: .14rem;
    margin-left: .18rem;
    background-color: yellowgreen;
    overflow: hidden;
}

.app-download .txt-box {
    color: #5aa572;
}

.app-download .tit {
    font-size: .24rem;
    line-height: 1.2;
}

.app-download .desc {
    margin-top: .05rem;
    font-size: .2rem;
    line-height: 1.2;
}

.app-download .download {
    display: block;
    padding: .16rem .32rem;
    font-size: $font-small;
    color: #fff; // line-height: 1.2;
    border-radius: .4rem;
    background-color: #5aa572;
    box-shadow: 0 0 8px rgba(100, 100, 100, .3);
}

.app-download .close {
    position: relative;
    width: .4rem;
    height: .4rem;
    overflow: hidden;
}

.app-download .close:before,
.app-download .close:after {
    @include position(absolute,
    .18rem,
    auto,
    auto,
    .04rem,
    10);
    display: block;
    content: '';
    width: .28rem;
    height: .4rem;
    border-radius: .4rem;
    background-color: #999;
    z-index: 1000;
}

.app-download .close:before {
    @include transform(rotateZ(45deg));
}

.app-download .close:after {
    @include transform(rotateZ(-45deg));
}
