@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/list/index-list.scss'; // 推荐房源列表
@import '../../sass/navigate.scss'; // 侧边导航
@import '../../sass/footer.scss'; // 全局底部
@import '../../sass/destination.scss'; // 日地的的弹出框
@import '../../sass/calendar.scss'; // 日历插件
@import '../../sass/search.scss'; // 全局搜索
@import '../../sass/appDownload.scss'; // 全局下载APP
@import '../../sass/banner.scss'; // 焦点图
body {
    padding-bottom: 1rem;
    background-color: #fff;
}


/* header-body */

.header-body {
    width: 100%;
    height: 4.96rem;
    background: url('./img/hearder-bg.png') no-repeat;
    background-size: cover;
}

// .header-body .header-title {
//     @include flex-box;
//     @include flex-direction;
//     @include align-items;
//     @include justify-content(space-between);
//     width: 5.85rem;
//     height: .81rem;
//     padding-top: 1.43rem;
//     margin-left: .9rem;
// }
// .header-body .header-title p {
//     font-size: .88rem;
//     font-family: MFYueYuan_Noncommercial-Regular;
//     color: rgba(255, 255, 255, 1);
// }
.header-body .user {
    @include position(absolute,
    .24rem,
    .36rem,
    auto,
    auto,
    10);
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: .48rem;
    height: .48rem;
    font-size: .48rem;
    color: #fff;
    overflow: hidden;
}

.header-body .user:before {
    display: block;
    width: .48rem;
    height: .48rem;
    overflow: hidden;
}

.header-body .banner-body {
    height: 4.96rem;
    overflow: hidden;
}


/* 公共margin */

.mrl_35 {
    margin-left: .35rem;
    margin-right: .35rem;
}


/* select-body */

.select-body {
    @include flex-box;
    @include flex-direction(column);
    @include position(relative,
    -1.46rem,
    auto,
    auto,
    auto,
    10);
    background-color: rgba(255, 255, 255, 1);
    border-radius: .04rem;
    box-shadow: 0 0 .1rem rgb(100, 100, 100);
    padding: .3rem .6rem .4rem;
}

.select-body .input-text {
    @include flex-box;
    @include justify-content(space-between);
    height: .6rem;
    padding-bottom: .2rem;
    border-bottom: $border;
    width: 100%;
}

.select-body .input-text .input-text-left {
    @include flex-box;
    @include flex;
    @include align-items(flex-end);
}

.select-body .input-text .input-text-left i {
    width: .34rem;
    height: .34rem;
    margin-right: .32rem;
}

.select-body .input-text .input-text-right {
    @include flex-box;
    @include align-items(flex-end);
}

.select-body .input-text .input-text-right i {
    width: .32rem;
    height: .32rem;
    color: $color;
    font-size: .12rem;
    @include transform(rotateY(180deg));
}

.icon-fujin1 {
    font-size: .26rem;
}

.select-body .input-text .input-text-right span {
    margin-left: .1rem;
    font-size: .22rem;
    color: $color;
}

.select-body .input-text input {
    @include flex;
    border: none;
    outline: none;
    color: #2A2B2D;
    font-size: .28rem;
    text-overflow: ellipsis;
}

.select-body button {
    padding: 0;
    border: none;
    outline: none; //css去掉button点击后的蓝框
    margin-top: .27;
    height: .8rem;
    width: 100%;
    font-size: .34rem;
    background: $color;
    color: rgba(255, 255, 255, 1);
    border-radius: .04rem;
}


/* navigatelist-body */

.navigatelist-body {
    @include flex-box;
    @include justify-content(space-around);
    height: 1.42rem;
    margin-top: -1.22rem;
    padding-top: .2rem;
    background: rgba(255, 255, 255, 1);
    border-radius: .04rem;
    box-shadow: 0 0 .1rem rgb(100, 100, 100);
}

.navigatelist-body .items {
    display: block;
    width: 25%;
    box-sizing: border-box;
}

.navigatelist-body .items .icon-box {
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: .86rem;
    height: .8rem;
    margin: 0 auto;
}

.navigatelist-body .items .icon {
    font-size: .68rem;
    line-height: 1;
    overflow: hidden;
}

.navigatelist-body .items .txt {
    display: block;
    margin-top: .24rem;
    font-size: .22rem;
    font-family: PingFangSC;
    color: rgba(105, 107, 112, 1);
    line-height: 1;
    text-align: center;
}


/* recommend-body */

.recommend-body {
    background-color: #fff;
    margin-top: .48rem;
}

.recommend-body .title {
    @include flex-box;
    @include align-items;
    @include justify-content;
    font-size: .36rem;
    color: rgba(42, 43, 45, 1);
}

.recommend-body .title .txt {
    display: inline-block;
    font-size: .36rem;
    color: rgba(42, 43, 45, 1);
}

.recommend-body .title .icon {
    position: relative;
    display: block;
    width: .36rem;
    height: .36rem;
    font-size: .36rem;
    margin-right: .24rem;
    overflow: hidden;
    color: $color;
    ;
}

// .recommend-body .title .icon:before {
//     @include position(absolute, 4px, auto, auto, 1px, 10);
//     display: block;
//     content: '';
//     width: 10px;
//     height: 10px;
//     border-width: 2px 2px 0 0;
//     border-style: solid;
//     border-color: #ccc;
//     @include transform(rotateZ(45deg));
// }
.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em;
    height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
    overflow: hidden;
}

.icon-xiaoweizhidingdian {
    width: 0.24rem;
    height: 0.26rem;
    font-size: 0.17rem;
}

#menu {
    display: none;
}

//pagination
.banner-body .pagination {
    @include flex-box;
    margin-bottom: 1.2rem;
    background-color: transparent;
}

.pagination span {
    height: 0.12rem;
    width: 0.12rem;
    margin-left: 0.12rem;
    border-radius: .06rem;
    background-color: #fff;
}

.pagination .current {
    background-color: $color;
}
