@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/header.scss'; // 全局头部
@import '../../sass/navigate.scss'; // 侧边导航
@import '../../sass/footer.scss'; // 全局底部
body {
    position: relative;
    background-color: #f5f5f5;
    height: 100%
}

.header-body {
    background: rgba(255, 255, 255, 0);
}

.header-body.fixed {
    position: absolute;
}


/* about-us */

.about-us {
    margin-bottom: .12rem;
    background-color: #fff;
}

.about-us .pic {
    margin-bottom: .2rem;
    overflow: hidden;
}

.about-us .txt {
    @include flex-box;
    position: relative;
    text-align: center;
    padding: 0 .75rem .2rem;
    line-height: 1.8;
    font-size: .24rem;
    color: rgba(42, 43, 45, 1);
    line-height: .4rem;
}

.about-us .txt::before,
.about-us .txt::after {
    @include position(absolute, .1rem, auto, auto, auto, 9);
    content: '';
    width: .12rem;
    height: .12rem;
    background: $color;
    border-radius: .06rem
}

.about-us .txt::before {
    left: .35rem;
}

.about-us .txt::after {
    right: .35rem;
}


/* contact-us */

.contact-us {
    padding: .35rem 0 .1rem 0; // background: url('img/about-bg.png') 50% 50% no-repeat;
    background-color: #fff;
    background-size: 100% auto;
    margin-bottom: .12rem;
}

.contact-us .title {
    position: relative;
    padding-left: 0.36rem;
    margin-bottom: .2rem;
    font-weight: 700;
    font-size: .32rem;
    color: rgba(42, 43, 45, 1);
    line-height: .32rem;
}

.contact-us .items {
    @include flex-box;
    line-height: 1.2;
    font-size: .24rem;
    color: rgba(42, 43, 45, 1);
    line-height: .48rem;
}

.contact-us .items .lab {
    width: 3rem;
    margin-left: 0.8rem;
}

.contact-us .items .txt {
    @include flex;
    @include flex-box;
    @include justify-content(flex-end);
    padding-right: 0.8rem;
}

.contact-us .items .gap {
    display: inline-block;
    width: 2em;
}


/* address-body */

.address-body {
    padding: .3rem .35rem .22rem;
    margin-bottom: 0.12rem;
    background-color: #fff;
}

.address-body .title {
    position: relative;
    font-weight: 700;
    font-size: .32rem;
    color: rgba(42, 43, 45, 1);
    line-height: .32rem;
}

.address-body .address {
    padding: .2rem 0;
    font-size: .24rem;
    font-weight: 700;
    color: rgba(42, 43, 45, 1);
    line-height: .32rem;
}

.address-body .map {
    margin: .1rem 0;
    overflow: hidden;
    border-radius: .16rem;
    border: 1px solid rgba(196, 201, 205, 1);
}

.address-body img {
    width: 6.78rem;
    height: 3.81rem;
}
