@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/header.scss'; // 全局头部
@import '../../sass/search.scss'; // 全局搜索
@import '../../sass/list/filter.scss'; // 条件筛选
@import '../../sass/list/index-list.scss'; // 推荐房源列表
@import '../../sass/navigate.scss'; // 侧边导航
@import '../../sass/footer.scss'; // 全局底部
body {
    position: relative;
    padding: .88rem 0 .86rem;
    background-color: #f5f5f5;
    height: 100%
}


/* 公共margin */

.mrl_35 {
    @include align-items;
    margin-left: .35rem;
    margin-right: .35rem;
}


/* recommend-body */

.search {
    padding: 0;
    background-color: transparent;
}

.search .text-body {
    border: .02rem solid #fff;
}


/* recommend-body */

.recommend-body {
    background-color: #fff;
    margin-top: .07rem;
    margin-bottom: .13rem;
}

.recommend-body .index-list:last-child {
    border: none;
}


/* app-download */

.app-download {
    @include position(fixed, auto, 0, 0, 0, 1000);
    @include flex-box;
    @include align-items;
    @include justify-content(space-between);
    height: .86rem;
    padding-right: .35rem;
    ;
    padding-left: .35rem;
    ;
    background-color: #f3ffff;
    box-shadow: 0 -.1rem .2rem rgba(100, 100, 100, .2);
}

.app-download-box {
    @include flex-box;
    @include align-items;
}

.app-download .logo {
    display: block;
    width: 1.6rem;
    height: .56rem;
    margin-right: .14rem;
    margin-left: .18rem;
    background-color: yellowgreen;
    overflow: hidden;
}

.app-download .txt-box {
    color: #5aa572;
}

.app-download .tit {
    font-size: .24rem;
    line-height: 1.2;
}

.app-download .desc {
    margin-top: .05rem;
    font-size: .2rem;
    line-height: 1.2;
}

.app-download .download {
    display: block;
    padding: .16rem .32rem;
    font-size: $font-small;
    color: #fff;
    border-radius: .4rem;
    background-color: #5aa572;
    box-shadow: 0 0 .16rem rgba(100, 100, 100, .3);
}

.app-download .close {
    position: relative;
    width: .4rem;
    height: .4rem;
    overflow: hidden;
}

.app-download .close:before,
.app-download .close:after {
    @include position(absolute, .18rem, auto, auto, .04rem, 10);
    display: block;
    content: '';
    width: .28rem;
    height: .04rem;
    border-radius: .04rem;
    background-color: #999;
    z-index: 1000;
}

.app-download .close:before {
    @include transform(rotateZ(45deg));
}

.app-download .close:after {
    @include transform(rotateZ(-45deg));
}
