@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/header.scss'; // 全局头部
@import '../../sass/navigate.scss'; // 侧边导航
@import '../../sass/footer.scss'; // 全局底部
@import '../../sass/zoomify.scss'; // 查看大图样式
// @import '../../sass/appDownload.scss'; // 全局下载APP
body {
    position: relative;
    padding-top: 1.76rem;
    background-color: #f5f5f5;
    height: 100%;
    box-sizing: border-box;
}

.article-body {
    min-height: calc(100% - 2.18rem);
}


/* order-body*/

.order-body {
    @include position(fixed, .88rem, auto, auto, auto, 999);
    @include flex-box;
    @include justify-content(space-around);
    height: 0.88rem;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
}

.order-body .items {
    @include flex;
    @include flex-box;
    @include flex-direction(column);
    @include align-items;
    @include justify-content;
    color: rgba(94, 100, 107, 1);
}

.order-body .txt {
    position: relative;
    @include flex-box;
    @include align-items;
    font-size: .26rem;
}

.order-body .txt .number {
    @include position(absolute, -.15rem, -.25rem, auto, auto, 10);
    @include flex-box;
    @include justify-content;
    width: .3rem;
    height: .24rem;
    background: rgba(255, 92, 92, 1);
    border-radius: .12rem;
    color: #fff;
    font-size: .22rem;
    line-height: 0.24rem;
}

.order-body .txt .current {
    background: $color;
}

.order-body .current {
    color: $color;
    border-bottom: .04rem solid $color;
}

.order-body .current .number {
    @include linear-gradient;
    ;
}


/* all-assess */

.article-body .all-assess {
    @include flex-box;
    @include flex-direction(column);
    position: relative;
    padding: .32rem .35rem;
    margin-top: 0.24rem;
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-bottom: .01rem solid #F3F3F3;
}

.article-body .small-circle {
    @include position(absolute, .12rem, .12rem, auto, auto, 99);
    width: .16rem;
    height: .16rem;
    background: rgba(255, 92, 92, 1);
    border-radius: .08rem;
}

.article-body .all-assess .time {
    font-size: .22rem;
    color: rgba(181, 185, 190, 1);
    padding-bottom: 0.1rem;
}

.article-body .all-assess .text-img {
    margin-bottom: .07rem;
}

.article-body .all-assess .text-img .txt {
    display: block;
    font-size: .26rem;
    color: rgba(90, 165, 114, 1);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
}

.article-body .all-assess .img-list {
    @include flex-box;
    @include flex-wrap(wrap);
    width: 5rem;
}

.article-body .all-assess .img-list .items {
    @include flex(0, 0, auto);
    width: 1.44rem;
    height: 1.2rem;
    margin-right: .16rem;
    margin-bottom: .15rem;
    color: #000;
    box-sizing: border-box;
}

.article-body .all-assess .content {
    @include flex-box;
    @include align-items;
    width: 6.8rem;
    height: 1.67rem;
    border-radius: .04rem;
}

.article-body .all-assess .content img {
    width: 2.54rem;
    height: 1.43rem;
    margin-left: .12rem;
}

.article-body .all-assess .content .i-txt {
    @include flex;
    @include flex-box; // @include align-items(space-between);
    @include flex-direction(column);
    @include justify-content(space-between);
    height: 100%;
    margin-left: .2rem;
    margin-right: .2rem;
}

.article-body .all-assess .content .i-txt .title {
    padding-top: 0.1rem;
    font-size: .28rem;
    color: rgba(94, 100, 107, 1);
}

.article-body .all-assess .content .i-txt .time {
    @include flex-box;
    @include justify-content (space-between);
    font-size: .22rem;
    color: rgba(181, 185, 190, 1);
}

.article-body .all-assess .content .i-txt .price {
    padding-bottom: 0.1rem;
    font-size: .22rem;
    color: rgba(181, 185, 190, 1);
}


/* tobe-assess */

.article-body .tobe-assess {
    height: 1.94rem;
    background: rgba(255, 255, 255, 1);
    padding: .25rem 0.35rem;
    box-sizing: border-box;
}

.article-body .tobe-assess {
    @include flex-box;
    @include align-items;
    border-radius: .04rem;
    margin: .11rem 0;
}

.article-body .tobe-assess img {
    width: 2.54rem;
    height: 1.43rem;
    margin-left: .12rem;
}

.article-body .tobe-assess .content {
    @include flex;
    @include flex-box; // @include align-items(space-between);
    @include flex-direction(column);
    height: 100%;
    margin-left: .2rem;
}

.article-body .tobe-assess .content .title {
    font-size: .28rem;
    color: rgba(94, 100, 107, 1);
}

.article-body .tobe-assess .content .time {
    @include flex-box;
    font-size: .22rem;
    color: rgba(181, 185, 190, 1);
}

.article-body .tobe-assess .content .time span {
    margin-right: 0.2rem;
}

.article-body .tobe-assess .content .price {
    font-size: .22rem;
    color: rgba(181, 185, 190, 1);
}

.article-body .all-assess .content .bnt {
    @include flex-box;
    @include align-items;
    @include justify-content(flex-end);
}

.article-body .all-assess .content .bnt .box {
    @include flex-box;
    @include align-items;
    @include justify-content;
    width: 1.2rem;
    height: .48rem;
    color: rgba(255, 92, 92, 1);
    border-radius: .04rem;
    border: .01rem solid rgba(255, 92, 92, 1);
    font-size: .24rem;
}

// .article-body .all-assess .time,
// {
//     padding: 0.2rem 0 0 .07rem;
// }
// .article-body .all-assess .address {
//     padding: 0.1rem 0 0 .07rem;
// }
// .article-body .all-assess .time .icon,
// .article-body .all-assess .address .icon {
//     width: 0.35rem;
//     height: 0.35rem;
//     font-size: .33rem;
//     color: rgba(196, 201, 205, 1);
//     margin-right: .1rem;
// }
// .article-body .all-assess .time .txt,
// .article-body .all-assess .address .txt {
//     font-size: .26rem;
//     color: rgba(42, 43, 45, 1);
// }
