@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/header.scss'; // 全局头部
body {
    position: relative;
    padding-top: .44rem 0 .55rem;
    background-color: #f5f5f5;
    height: 100%
}


/* footer-body */

.footer-body {
    @include position(fixed, auto, 0, 0, 0, 500);
    @include flex-box;
    padding: .1rem 0;
    background-color: #fff;
    // box-shadow: 0 -5px 5px rgba(200, 200, 200, .2);
}

.footer-body .items {
    display: block;
    @include flex;
    padding: .05rem 0;
    font-size: $font-large;
    color: #51b63e;
    line-height: 1.2;
    text-align: center;
}

.footer-body .items:last-child {
    border-left: $border;
}
