@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/header.scss'; // 全局头部
@import '../../sass/navigate.scss'; // 侧边导航
@import '../../sass/footer.scss'; // 全局底部
html {
    height: 100%;
}

body {
    @include flex-box;
    @include flex-direction(column);
    position: relative;
    background-color: #f5f5f5;
    height: 100%;
}

footer {
    @include flex;
    padding-bottom: 1rem;
}


/* hold-body */

.hold-body {
    padding-top: .88rem;
    @include flex-box;
    @include flex-direction(column);
    @include align-items;
    @include justify-content;
    height: 1.68rem;
    background-color: #fff;
}

.hold-body i {
    width: 0.51rem;
    height: 0.51rem;
    font-size: .51rem;
    margin-top: .37rem;
    margin-bottom: .23rem;
    color: rgba(90, 165, 114, 1);
}

.hold-body span {
    font-size: .26rem;
    color: rgba(90, 165, 114, 1);
}


/* content-body */

.content-body {
    @include flex-box;
    @include flex-direction(column);
    background-color: #fff;
    height: 2.87rem;
    margin-top: .12rem;
}

.content-body .content {
    padding: 0 .35rem;
    @include flex;
    @include flex-box;
    @include align-items;
    border-bottom: $border;
}

// .content-body .icon {
//     height: 0.83rem;
//     width: 0.83rem;
//     margin-top: 1.08rem;
//     background-color: skyblue;
// }
.content-body .txt {
    @include flex;
    @include flex-box;
    @include flex-direction(column);
    padding-left: .32rem;
    margin-top: .12rem;
}

.content-body .txt span {
    font-size: .24rem;
    color: rgba(94, 100, 107, 1);
    line-height: .48rem
}

.content-body .txt .longTxt {
    @include flex-box;
    @include align-items;
    @include justify-content(flex-start);
}

.content-body .txt .longTxt i {
    width: 0.31rem;
    height: 0.31rem;
    font-size: .31rem;
    margin-left: .6rem;
    margin-right: .12rem; // background-color: skyblue;
}

.content-body .checkInfo {
    @include flex-box;
    @include align-items;
    height: 1.14rem;
    padding-left: .39rem;
    padding-right: .35rem;
}

.content-body .checkInfo span {
    font-size: .28rem;
    color: rgba(90, 165, 114, 1);
}

.content-body .checkInfo span:last-child {
    font-size: .32rem;
    font-weight: 600;
}


/* title */

.title-body {
    @include flex-box;
    @include align-items;
    padding: .22rem .35rem;
    font-size: .24rem;
    color: rgba(94, 100, 107, 1);
}


/* play-body */

.play-body {
    @include flex-box;
    @include flex-direction(column);
    @include justify-content(flex-start);
    background-color: #fff;
    height: 3.48rem;
    margin-bottom: .12rem;
}

.play-body .playStyle {
    @include flex-box;
    @include align-items;
    @include justify-content(space-between);
    padding: .24rem .35rem;
    border-bottom: $border;
}

.play-body .playStyle .more {
    width: 0.3rem;
    height: 0.3rem;
    font-size: .3rem;
    color: rgba(181,185,190,1) ;
}

.play-body .playStyle .logobox {
    @include flex-box;
    @include align-items;
}

.play-body .playStyle .logobox .logo {
    height: 0.51rem;
    width: 0.58rem;
    margin-right: .48rem;
    background-color: rgba(56, 176, 53, 1);
}

.play-body .playStyle .logobox .content {
    @include flex-box;
    @include flex-direction(column);
}

.play-body .playStyle .logobox .content span {
    font-size: .24rem;
    color: rgba(196, 201, 205, 1);
}

.play-body .playStyle .logobox .content span:first-child {
    font-size: .28rem;
    color: rgba(94, 100, 107, 1);
}
