@import '../../sass/base.scss'; // 基础变量
@import '../../sass/iconfont.scss'; // 字体
@import '../../sass/header.scss'; // 全局头部
@import '../../sass/footer.scss'; // 全局底部
body {
    position: relative;
    padding-top: .88rem;
    height: 100%;
}

#content {
    min-height: calc(100% - 3rem);
    font-size: .5rem;
    color: red;
}

.unusual-body {
    @include flex-box;
    @include flex-direction(column);
    @include align-items;
    @include justify-content;
    padding-top: 1.45rem;
}

.unusual-body .no-info {
    width: 1.35rem;
    height: 1.93rem;
    background: url('./img/no-info.png') no-repeat;
    background-size: cover;
}

.unusual-body span {
    padding-top: 0.2rem;
    font-size: .28rem;
    color: rgba(90, 165, 114, 1);
}
